 <section id="inner-pages">
   <div class="container">
    <h2>Terms and Conditions</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	
            <div class="row"> 
              <div class="col-md-12 col-sm-12">
               <div class="left-blk">
               	<p>1. The resume/ insertion or information/data fed by the user can be updated by the user alone, free of cost.</p>
               	<p>2. E Job Ocean Online Services LLP offers neither guarantee nor any warranty that there would be a satisfactory response or any response at all, once the resume/ insertion or information/data is fed by the user.</p>
               	<p>3. E Job Ocean Online Services LLP neither guarantees nor offers any warranty about the credentials bonafides, status or otherwise of the prospective employer/organization which downloads the resume/ insertion or information/data and uses it to contact the user.</p>
               	<p>4. E Job Ocean Online Services LLP would not be held liable for loss of any data technical or otherwise, or of the resume/ insertion or information/data or particulars supplied by user due to acts of god as well as reasons beyond its control like corruption of data or delay or failure to perform as a result of any cause(s) or conditions that are beyond E Job Ocean Online Services LLP’s reasonable control including but not limited to strikes, riots, civil unrest, Government policies, tampering of data by unauthorized persons like hackers, distributed denial of service attacks, virus attacks, war and natural calamities.</p>
               	<p>5. It shall be sole prerogative and responsibility of the user to check the authenticity of all or any response received pursuant to the resume/ insertion or information/data being fed into the network system of E Job Ocean Online Services LLP by the user, for going out of station or in station for any job or interview. E Job Ocean Online Services LLP assumes no responsibility in respect thereof and expressly disclaims any liability for any act, deed or thing which the user may so do, pursuant to the receipt of the response, if any, to the resume/ insertion or information/ date being fed into the network system of E Job Ocean Online Services LLP.</p>
               	<p>6. Uploading of multiple resumes beyond a reasonable limit by the same individual, using the same or different accounts shall entitle E Job Ocean Online Services LLP to remove the Resumes without notice to the subscriber.</p>
               	<p>7. This service is only meant for candidates looking for suitable jobs. Any usage with commercial intent is prohibited.</p>
               	<p>8. E Job Ocean Online Services LLP reserves its right to reject and delete any resume/ insertion or information/data fed in by the user without assigning any reason.</p>
               	<p>9. This free service entitles the user alone i.e. the same person, to add modify or change the data/information fed in by him but does not entitle him to use the free service to feed fresh insertion or information/data /resume of another person in place of the insertion or information/data already fed in by such user.</p>
               	<p>10. E Job Ocean Online Services LLP has the right to make all such modifications/editing of resume in order to fit resume in its database.</p>
               	<p>11. The subscriber shall be assigned a password (s) by E Job Ocean Online Services LLP to enable the subscriber to access all the information received through ejobocean.com, but the sole responsibility of the safe custody of the password shall be that of the subscriber and E Job Ocean Online Services LLP shall not be responsible for data loss/theft of data/corruption of data or the wrong usage/misuse of the password and any damage or leak of information and its consequential usage by a third party. E Job Ocean Online Services LLP undertakes to take all reasonable precautions at its end to ensure that there is no leakage/misuse of the password granted to the subscriber.</p>
               	<p>12. It shall be the sole responsibility of the user to ensure that it uses the privacy setting options as it deems fit to debar / refuse access of the data fed by it, to such corporate entities individuals or consultants. E Job Ocean Online Services LLP shall not be responsible for such insertions / data being accessed by its subscribers or users whose access has not been specifically blocked /debarred by the user while using the privacy settings.</p>
               	<p>13. Even though you may have marked your profile as unsearchable, on viewing ejobocean.com profile when you are logged into your ejobocean.com account, a snapshot of your profile maybe made visible to the recruiter.</p>
               	<p>14. Although E Job Ocean Online Services LLP will make all possible efforts to adhere to these privacy settings, it will not be responsible for a resume being seen by a blocked user for any reason. For best privacy settings it is recommended that you do not allow your resume to be searched at all.</p>
               	<p>15. The user represents that he/she is not a minor and is not under any legal or other disability which limits his/her ability to comply with these Terms or to install and use the services subscribed and purchased with minimal risk of harm to you or others. You further represent that you are not purchasing the products/services for resale to others and will not do so without E Job Ocean Online Services LLP (India) Limited's prior written consent.</p>
               	<p>16. All changes / modifications made by the user to the data / information shall be effected and will come into operation only after 24-48 hours of such changes / modifications being made.</p>
               	<p>17. The User of these services does not claim any copyright or other Intellectual Property Right over the data uploaded by him/her on the website.</p>
               	<p>18. Jurisdiction for any disputes arising from and related to this context shall be Mumbai, India to the exclusion of all other courts.</p>
               	<p>19. Disputes shall be resolved in accordance with the laws of India as applicable.</p>
                                      
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>