 <section id="inner-pages">
   <div class="container">
    <h2>Known Languages</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
               <ul class="nav nav-tabs">
                  <li><a routerLink="/dashboard">Profile</a></li>
                  <li><a routerLink="/profile">Edit Profile</a></li>
                  <li><a routerLink="/work-experience">Work Education</a></li>
                  <li><a routerLink="/education">Education</a></li>
                  <li><a routerLink="/preferrences">Preferences</a></li>
                  <li  class="active"><a routerLink="/languages">Languages</a></li>
                  <li><a routerLink="/other-details">Other Details</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
               
               <form  [formGroup]="languageForm" (ngSubmit)="onSubmit1()" id="languageForm">

               	


               		 	<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Language<span class="required">*</span></label>	
                        		 <input type="text" class="text-input" placeholder="Language" formControlName="language" required="">
                        <div *ngIf="submitted1 && f1.language.errors" class="invalid-feedback">
                                            <div *ngIf="f1.language.errors.required">Language is required</div>
                                             <div *ngIf="f1.language.errors.pattern">Only alphabets are allowed</div>
                                        </div>

                            </div>
                        </div>

                        	<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Knowledge Level<span class="required">*</span></label>	
                        		<select class="text-input" formControlName="level" required="">
                                   <option value="">Select one</option>
                                    <option value="Low">Low</option>
                                    <option value="Medium">Medium</option>
                                     <option value="High">High</option>
                                </select>
                                <div *ngIf="submitted1 && f1.level.errors" class="invalid-feedback">
                                            <div *ngIf="f1.level.errors.required">Knowledge Level is required</div>
                                              
                                        </div>
                            </div>
                              

                            </div>

                            <div class="col-md-4 col-sm-4">
							   <div class="form-group">
							    <label>Able to Read<span class="required">*</span></label>	
							    <select class="text-input" formControlName="read">
							        <option value="">Select one</option>
							        <option value="Yes">Yes</option>
							        <option value="No">No</option>
							    </select>
							  </div>
							</div>

							 <div class="col-md-4 col-sm-4">
							   <div class="form-group">
							    <label>Able to write<span class="required"></span></label>	
							    <select class="text-input" formControlName="write">
							        <option value="">Select one</option>
							        <option value="Yes">Yes</option>
							        <option value="No">No</option>
							    </select>
							  </div>
							</div>

							 <div class="col-md-4 col-sm-4">
							   <div class="form-group">
							    <label>Able to Speak<span class="required"></span></label>	
							    <select class="text-input" formControlName="speak">
							        <option value="">Select one</option>
							        <option value="Yes">Yes</option>
							        <option value="No">No</option>
							    </select>
							  </div>
							</div>
                        

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <p  class="form-error">{{error1}}</p>
                             </div>
                         </div>

                           

                        <!-- <button class="next-btn hvr-sweep-to-right login" type="submit">SIGN UP</button> -->
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Save" class="btn submit-btn">
                   </div>
                </div>
                        

                       



               	  
              
                        

                      
                      
                    </form>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  *ngIf="languages && languages.length > 0">
                  <table class="table table-bordered">
			        	
			        	<tbody>
			        		<tr>
			        		<td><b>Language</b></td>
			        		<td><b>Level</b></td>
			        		<td><b>Read</b></td>
			        		<td><b>Write</b></td>
			        		<td><b>Speak</b></td>
			        		<td></td>
			        	</tr>
			        	<tr *ngFor="let e of languages">
			        		<td>{{e.Language}}</td>
			        		<td>{{e.Level}}</td>
			        		<td>{{e.IsRead}}</td>
			        		<td>{{e.IsWrite}}</td>
			        		<td>{{e.IsSpeak}}</td>

			        		<td>
			        			<i class="fa fa-pencil" aria-hidden="true" (click)=editLanguage(e.Id)></i>
			        			&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true"  (click)=deleteLanguage(e.Id)></i>
			        		</td>
			        	</tr>
			        </tbody>
			        </table>
			        
			    </div>

			       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <a routerLink="/other-details" value="Done" class="btn submit-btn">Next</a>
                   </div>
                </div>




                  
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>