  <!-- FOOTER -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <div class="fot-link">
                <h4>Get in Touch</h4>
                <p>News on jobs, keep up</p>
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" id="contactForm" style="color: white">
                  <div class="form-group">
                    <input type="email" placeholder="Email" class="fot-input" formControlName="email" required="">
                         <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Invalid email</div>
                         </div>
                     
                  </div>
                  <div class="form-group">{{error}}</div>
                  <div class="form-group">
                    <input type="submit" value="Submit" class="btn submit-btn"><span class="ajax-loader"></span>
                  </div>
                </form>
                <ul class="social_icons" *ngIf="links">
                  <li> <a href="{{links.Facebook}}" target="_blank" class="fb"></a></li>
                  <li><a href="{{links.Google}}" target="_blank" class="tw"></a></li>
                  <li><a href="{{links.LinkedIn}}" target="_blank" class="v"></a></li>
                  <li><a href="{{links.Twitter}}" target="_blank" class="y"></a></li>
                  <!-- <li> <a href="http://ejobocean.com/EJOB_RSS.ashx" target="_blank" class="rss"> </a></li> -->
                </ul>
                
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <div class="fot-link">
                <h4>Jobs by Location</h4>
                <ul>
                 
                    <li><a href="/jobsbylocation/2707">Jobs in Mumbai</a></li>
                     <li><a href="/jobsbylocation/2763">Jobs in Pune</a></li>
                      <li><a href="/jobsbylocation/706">Jobs in Delhi</a></li>
                      <li><a href="/jobsbylocation/1558">Jobs in Bangalore</a></li>
                     <li><a href="/jobsbylocation/3659">Jobs in Chennai</a></li>
                  </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <div class="fot-link">
                <h4>Company Info</h4>
                <ul>
                   <li><a routerLink="/about-us">About eJobOcean</a></li>
                    <li><a routerLink="/contact-us">Contact Us</a></li>
                    <li><a routerLink="/terms-condition">Terms &amp; Conditions</a></li>
                     <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                     <li><a routerLink="/faqs">FAQs</a></li>                                
               </ul>
              </div>
            </div>
             <div class="col-md-3 col-sm-3">
              <div class="fot-link">
                <h4>Contact Details</h4>
                <ul *ngIf="content">
                   <li><span class="icon-facebook-placeholder-for-locate-places-on-maps"></span> {{content.Address}}</li>
                    <li><span class="icon-telephone"></span>{{content.Contact}}</li>
                    <li><span class="icon-sent-mail"></span> <a href="mailto:{{content.Email}}">{{content.Email}}</a></li>
                                                   
               </ul>
              </div>
            </div>
          </div>
      </div>
      <div class="copy-right">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <p>Copyright {{year}} - All Rights Reserved eJobOcean</p>
            </div>
             <div class="col-md-6 col-sm-6">
               <p class="design-by">Design &amp; Developed By <a target="_blank" href="https://magnusideas.com/"> Magnus Ideas </a></p>
             </div>
          </div>
        </div>
      </div>
      </footer>