 <section id="inner-pages">
   <div class="container">
    <h2>Resumes</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li><a routerLink="/resume-search">Search Resumes</a></li>
                  <li class="active"><a routerLink="/saved-resumes">Saved Resumes</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
               <div class="left-blk">
               <div class="col-sm-12" *ngIf="savedresumes">

                <div class="row">
                   <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <input type="button" (click)="download()" value="Download Resumes" class="btn submit-btn">
                    <p class="form-error">{{error}}</p>
                  </div>
                </div>
                </div>

                <h3>Saved Resumes</h3>
                <p><input type="checkbox" name="selectall" id="selectall" (click)="selectall()">&nbsp;&nbsp;<label for="selectall">Select All Saved Resumes</label></p>
                 <table class="table table-bordered">
                
                <tbody>
                <tr *ngFor="let c of savedresumes | paginate: {  id: 'joblist',itemsPerPage: 10, currentPage: p }">
                  <td><input type="checkbox" id="checkboxes_{{c.Id}}" name="checkboxes" class="checkboxes" value="{{c.ResumePath}}"></td>
                  <td><p>Prefered Locations : {{c.locations}}</p>
                  </td>
                  <td>
                    <p>{{c.Name}}</p>
                    <p><b>Exp :</b> {{c.ExpYears}} years {{c.ExpMonths}} months</p>
                    <p>{{c.Country}}</p>

                  </td>
                  <td><p><b>Industry :</b> {{c.Industry}}</p>
                     <p><b>Profile :</b> {{c.Profile}}</p>
                     <p><b>Role :</b> {{c.Designation}}</p>
                     <p><b>Description :</b> {{c.Description}}</p>
                     <p><b>Age :</b> {{c.age}}</p>
                  </td>
                  <td>
                      <p><b>Email :</b> {{c.Email}}</p>
                      <p><b>Mobile No :</b> {{c.Mobile}}</p>
                      <p><a href="/jobseeker-profile/{{c.Id}}" target="_blank">View Info</a></p>
                  </td>
                  <td>
                    <i class="fa fa-trash" aria-hidden="true"  (click)=deleteResume(c.SavedId)></i>
                  </td>
                </tr>

                
              </tbody>
              </table>
                <pagination-controls (pageChange)="p = $event" id="joblist"></pagination-controls>

                <h3>Deleted Resumes</h3>
                <p><input type="checkbox" name="selectall1" id="selectall1" (click)="selectall1()">&nbsp;&nbsp;<label for="selectall1">Select All Deleted Resumes</label></p>
                 <table class="table table-bordered">
                
                <tbody>
                <tr *ngFor="let c of deletedresumes | paginate: {  id: 'joblist1',itemsPerPage: 10, currentPage: p1 }">
                  <td><input type="checkbox" id="checkboxes1_{{c.Id}}" name="checkboxes1" class="checkboxes1" value="{{c.ResumePath}}"></td>
                  <td><p>Prefered Locations : {{c.locations}}</p>
                  </td>
                  <td>
                    <p>{{c.Name}}</p>
                    <p><b>Exp :</b> {{c.ExpYears}} years {{c.ExpMonths}} months</p>
                    <p>{{c.Country}}</p>

                  </td>
                  <td><p><b>Industry :</b> {{c.Industry}}</p>
                     <p><b>Profile :</b> {{c.Profile}}</p>
                     <p><b>Role :</b> {{c.Designation}}</p>
                     <p><b>Description :</b> {{c.Description}}</p>
                     <p><b>Age :</b> {{c.age}}</p>
                  </td>
                  <td>
                      <p><b>Email :</b> {{c.Email}}</p>
                      <p><b>Mobile No :</b> {{c.Mobile}}</p>
                      <p><a href="/jobseeker-profile/{{c.Id}}" target="_blank">View Info</a></p>
                  </td>
                </tr>

                
              </tbody>
              </table>
                <pagination-controls (pageChange)="p1 = $event" id="joblist1"></pagination-controls>
               	 
       
               </div>                         
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>
