 <section id="inner-pages">
   <div class="container">
    <h2>Verify Email</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li *ngIf="getUserType() === 'jobseeker'"><a routerLink="/privacy-settings">Privacy Settings</a></li>
                  <li *ngIf="getUserType() === 'jobseeker'"><a routerLink="/block-companies">Blocked Companies</a></li>
                  <li *ngIf="getUserType() === 'employer'"><a routerLink="/manage-letters">Manage Email Letters</a></li>
                  <li class="active"><a routerLink="/verify-email">Verify Email</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
               <div class="left-blk">
               <div class="col-sm-12" *ngIf="user">
                 
                 <div class="form-group">
                 	<button type="button" *ngIf="user.EmailVerification == 'No' || user.EmailVerification == ''" class="btn btn-primary" (click)="verifyEmail()">Verify Email</button>
                 	<p *ngIf="user.EmailVerification == 'Yes'">Your Email Id is verified</p>
                 </div>

                 <div class="form-group">
                 	<p>{{message}}</p>
                 </div>
               	
               	

               	
       
               </div>                         
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>
