<section id="inner-pages">
   <div class="container">
    <h2>Job Preview</h2>
   
      <div class="row">
        <div class="col-md-8 col-sm-8" *ngIf="job">
         <div class="job-descrip" >
                 <div class="row">
                   <div class="col-md-2 col-sm-2">
                     <div class="client-logo"><img src="{{job.image}}" class="img-responsive" alt="logo"></div>
                   </div>
                   <div class="col-md-6 col-sm-6">
                     <p class="profile-text">{{job.Title}}</p>
                
                    <p> <a routerLink="/jobsbyemployer/{{job.EmployerId}}">{{job.CompanyName}}</a></p>
                    <ul class="durtion">
                      <li><a href="#">Job Type:{{job.JobType}}</a></li>
                      <li><a href="#"> Location:</a> <span>{{countries}}</span></li>
                      <li *ngIf="job.MinExperience == Fresher && job.MaxExperience == Fresher"><a href="#">Experience:Fresher</a></li>
                      <li *ngIf="job.MinExperience !== Fresher || job.MaxExperience !== Fresher"><a href="#">Experience:{{job.MinExperience}}-{{job.MaxExperience}}</a> <span> Years</span></li>
                    </ul>

                   </div>
                   <div class="col-md-4 col-sm-4">
                      <div class="post_dt"> <a  routerLink="/jobsbydate/{{job.CreatedAt | date : 'yyyy-MM-dd'}}">{{job.CreatedAt | date : 'EEEE, MMM dd yyyy hh:mm a'}}</a></div>
                      
                   </div>
                 </div>
                
                  </div>
                   <hr>
                   <h3>Job Details</h3>
                   <div class="row">
                     <div class="col-md-6 col-sm-6">
                      <div class="job-detail">
                       <ul>
                         <li>Keyword: {{job.Keywords}}</li>
                          <li>Industry: {{industries}}</li>
                           <li>Role: {{designations}}</li>
                            <li>Condition:{{job.JobCondition}}</li>

                       </ul>
                     </div>
                     </div>
                      <div class="col-md-6 col-sm-6">
                      <div class="job-detail">
                       <ul>
                         <li>Qualifications: {{qualifications}}</li>
                          <li>Profile: {{profiles}}</li>
                           <li> Expiry Date: {{job.ExpDate | date : 'dd MMM yyyy'}}</li>
                           
                       </ul>
                     </div>
                     </div>
                   </div>
                   <hr>
                    <div class="row">
                     <div class="col-md-12 col-sm-12">
                   <div class="job-detail">
                   <h3>Job Description</h3>
                   <div [innerHTML]="job.Description"></div>
                 </div>
               </div>
             </div>
             <hr>
          <div class="row" *ngIf="contacts">
              <div class="col-md-12 col-sm-12">
                 <div class="job-detail">
                   <h3>Contact Persons</h3>
                   <ul  *ngFor="let c of contacts">
                    <li>{{c.FirstName}} {{c.LastName}} - {{c.Designation}}
                    <br>Email -: {{c.Email}}
                    <br>Mobile -: {{c.Mobile}}</li>
                    <hr>
                   </ul>
                 </div>
               </div>
             </div>
             <hr>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                 <div class="contact-detail">
                  
                  <ul>
                   <li *ngIf="isLoggedIn() !== 'true' || (isLoggedIn() == 'true' && getUserType() === 'jobseeker')"><a  (click)="applyForJob()"  title="" class="apply-btn">Apply for job</a></li>
                  <li *ngIf="isLoggedIn() !== 'true' || (isLoggedIn() == 'true' && getUserType() === 'jobseeker')"><a  (click)="saveJob()" title="" class="new-btn">Save</a></li>
                  <li *ngIf="isLoggedIn() !== 'true'"><a  title="" class="new-btn" data-toggle="modal" data-target="#resumeform">Apply Without Login</a></li>
                  
                </ul>
                <p>{{message}}</p>
                 </div>
               </div>
             </div> 
               

        </div>
        <div class="col-md-4 col-sm-4">
          <div class="company-details">
            <div class="job-thumb">
              <img src="/assets/images/small-logo.jpg" class="img-responsive" alt="logo">
            </div>
            <div class="comp-info" *ngIf="content">
              <h4>eJobOcean</h4>
              <p>{{content.Address}}</p>
                  <ul>
                  <li><h3>Contact Person</h3><span>  Purva Mittal</span></li>
                  <li><h3>Contact No</h3><span>{{content.Contact}}</span></li>
                  <li><h3>Email:</h3><span><a href="mailto:{{content.Email}}">{{content.Email}}</a></span></li>
                 
                </ul>

            </div>
          </div>

        </div>
      </div>
      
   
 </div>
 </section>

 <!-- Modal -->
<div id="resumeform" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Apply For Job</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <form  [formGroup]="applyForm" (ngSubmit)="onSubmit1()" id="applyForm">

                  
              
                        
                    <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                            <label>Name<span class="required">*</span></label>  
                             <input type="text" class="text-input" placeholder="Name" formControlName="name" required="">
                        <div *ngIf="submitted1 && f1.name.errors" class="invalid-feedback">
                                            <div *ngIf="f1.name.errors.required">Name is required</div>
                                        </div>

                            </div>
                        </div>

                      

                        

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                          <label>Email<span class="required">*</span></label> 
                            <input type="email" placeholder="email" formControlName="email" required=""  class="text-input">
                           <div *ngIf="submitted1 && f1.email.errors" class="invalid-feedback">
                                            <div *ngIf="f1.email.errors.required">Email is required</div>
                                            <div *ngIf="f1.email.errors.email">Invalid email</div>
                                        </div>
                            </div>
                        </div>


                        
                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                            <label>Mobile Number<span class="required">*</span></label> 
                            <input type="text" placeholder="Mobile Number" formControlName="mobile" required="" class="text-input">
                                <div *ngIf="submitted1 && f1.mobile.errors" class="invalid-feedback">
                                            <div *ngIf="f1.mobile.errors.required">Mobile number is required</div>
                                               <div *ngIf="f1.mobile.errors.pattern">Mobile number should be 10 digit number</div>
                                        </div>
                            </div>
                        </div>


                         <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                            <label>Resume<span class="required">*</span></label>  
                            <input  type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                              <p  class="form-error">{{error1}}</p>
                             </div>
                         </div>

                           

                        <!-- <button class="next-btn hvr-sweep-to-right login" type="submit">SIGN UP</button> -->
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Apply" class="btn submit-btn">
                   </div>
                </div>
                    </form>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>