 <section id="inner-pages">
   <div class="container">
    <h2>Location Preferences</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
               <ul class="nav nav-tabs">
                  <li><a routerLink="/dashboard">Profile</a></li>
                  <li><a routerLink="/profile">Edit Profile</a></li>
                  <li><a routerLink="/work-experience">Work Education</a></li>
                  <li><a routerLink="/education">Education</a></li>
                  <li class="active"><a routerLink="/preferrences">Preferences</a></li>
                  <li><a routerLink="/languages">Languages</a></li>
                  <li><a routerLink="/other-details">Other Details</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
               
               <form  [formGroup]="preferrenceForm" (ngSubmit)="onSubmit1()" id="preferrenceForm">

               	 <div class="col-md-4 col-sm-4">
                          <div class="form-group">
                                <label>Country<span class="required">*</span></label> 
                           <select class="text-input" formControlName="countryid" required="" (change)="countryChanged($event)">
                                    <option value="">Select Country</option>
                                    <option *ngFor="let c of countries"  value="{{c.id}}">{{c.name}}</option>
                                </select>
                                <div *ngIf="submitted1 && f1.countryid.errors" class="invalid-feedback">
                                            <div *ngIf="f1.countryid.errors.required">Country is required</div>
                                        </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                          <div class="form-group">
                                <label>State<span class="required">*</span></label> 
                           <select class="text-input" formControlName="stateid" required="" (change)="stateChanged($event)">
                                    <option value="">Select State</option>
                                    <option *ngFor="let c of states"  value="{{c.id}}">{{c.name}}</option>
                                </select>
                                <div *ngIf="submitted1 && f1.stateid.errors" class="invalid-feedback">
                                            <div *ngIf="f1.stateid.errors.required">State is required</div>
                                        </div>
                            </div>
                        </div>

                          <div class="col-md-4 col-sm-4">
                          <div class="form-group">
                                <label>City<span class="required">*</span></label> 
                           <select class="text-input" formControlName="cityid" required="" (change)="cityChanged($event)">
                                    <option value="">Select City</option>
                                    <option *ngFor="let c of cities"  value="{{c.id}}">{{c.name}}</option>
                                </select>
                                <div *ngIf="submitted1 && f1.cityid.errors" class="invalid-feedback">
                                            <div *ngIf="f1.cityid.errors.required">City is required</div>
                                        </div>
                            </div>
                        </div>

                      




                        

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <p  class="form-error">{{error1}}</p>
                             </div>
                         </div>

                           

                        <!-- <button class="next-btn hvr-sweep-to-right login" type="submit">SIGN UP</button> -->
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Save" class="btn submit-btn">
                   </div>
                </div>
                        

                       



               	  
              
                        

                      
                      
                    </form>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  *ngIf="preferrences && preferrences.length > 0">
                  <table class="table table-bordered">
			        	
			        	<tbody>
			        		<tr>
			        		<td><b>Country</b></td>
			        		<td><b>State</b></td>
			        		<td><b>City</b></td>
			        		<td></td>
			        	</tr>
			        	<tr *ngFor="let e of preferrences">
			        		<td>{{e.Country}}</td>
			        		<td>{{e.State}}</td>
			        		<td>{{e.City}}</td>

			        		<td>
			        			<i class="fa fa-pencil" aria-hidden="true" (click)=editPreferrence(e.Id)></i>
			        			&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true"  (click)=deletePreferrence(e.Id)></i>
			        		</td>
			        	</tr>
			        </tbody>
			        </table>
			        
			    </div>

			       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <a routerLink="/languages" value="Done" class="btn submit-btn">Next</a>
                   </div>
                </div>




                  
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>