<section id="inner-pages">
   <div class="container">
    <h2>FAQs</h2>
    <div class="row">
        <div class="col-md-12 col-sm-12">
        	<p>We're here to help. Check out our FAQs.</p>

<p>Send us an email at info@ejobocean.com or call us at 022-28855160</p>
        </div>
    </div>
</div>
</section>


