<section id="inner-pages">
   <div class="container">
    <h2>Job Preview</h2>
   
      <div class="row">
        <div class="col-md-12 col-sm-12"  *ngIf="user && job">
          <div class="job-descrip" >
                 <div class="row">
                   <div class="col-md-2 col-sm-2">
                     <div class="client-logo"><img src="{{user.image}}" class="img-responsive" alt="logo"></div>
                   </div>
                   <div class="col-md-7 col-sm-7">
                     <p class="profile-text">{{job.Title}}</p>
                
                    <p> <a href="#">{{user.CompanyName}}</a></p>
                    <ul class="durtion">
                      <li><a href="#">Job Type:{{job.JobType}}</a></li>
                      <li><a href="#"> Location:</a> <span>{{countries}}</span></li>
                      <li *ngIf="job.MinExperience == Fresher && job.MaxExperience == Fresher"><a href="#">Experience:Fresher</a></li>
                      <li *ngIf="job.MinExperience !== Fresher || job.MaxExperience !== Fresher"><a href="#">Experience:{{job.MinExperience}}-{{job.MaxExperience}}</a> <span> Years</span></li>
                    </ul>

                   </div>
                   <div class="col-md-3 col-sm-3">
                      <div class="post_dt"> <a href="#">{{job.CreatedAt | date : 'EEEE, MMM dd yyyy hh:mm a'}}</a></div>
                      
                   </div>
                 </div>
                
                  </div>
                   <hr>
                   <h3>Job Details</h3>
                   <div class="row">
                     <div class="col-md-6 col-sm-6">
                      <div class="job-detail">
                       <ul>
                         <li>Keyword: {{job.Keywords}}</li>
                          <li>Industry: {{industries}}</li>
                           <li>Role: {{designations}}</li>
                            <li>Condition:{{job.JobCondition}}</li>

                       </ul>
                     </div>
                     </div>
                      <div class="col-md-6 col-sm-6">
                      <div class="job-detail">
                       <ul>
                         <li>Qualifications: {{qualifications}}</li>
                          <li>Profile: {{profiles}}</li>
                           <li> Expiry Date: {{job.ExpDate | date : 'dd MMM yyyy'}}</li>
                           
                       </ul>
                     </div>
                     </div>
                   </div>
                   <hr>
                    <div class="row">
                     <div class="col-md-12 col-sm-12">
                   <div class="job-detail">
                   <h3>Job Description</h3>
                    <div [innerHTML]="job.Description"></div>
                 </div>
               </div>
             </div>
             <hr>
         		<div class="row">
                     <div class="col-md-12 col-sm-12">
                   <div class="job-detail">
                   <h3>Contact Persons</h3>
                   <ul  *ngFor="let c of contacts">
                   	<li>{{c.FirstName}} {{c.LastName}} - {{c.Designation}}
                   	<br>Email -: {{c.Email}}
                   	<br>Mobile -: {{c.Mobile}}</li>
                   	<hr>
                   </ul>
                 </div>
               </div>
             </div>
            
               

        </div>
       
      </div>
      
   
 </div>
 </section>