 <section id="inner-pages">
   <div class="container">
    <h2>Work Experience</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
               <ul class="nav nav-tabs">
                  <li><a routerLink="/dashboard">Profile</a></li>
                  <li><a routerLink="/profile">Edit Profile</a></li>
                  <li class="active"><a routerLink="/work-experience">Work Experience</a></li>
                  <li><a routerLink="/education">Education</a></li>
                  <li><a routerLink="/preferrences">Preferences</a></li>
                  <li><a routerLink="/languages">Languages</a></li>
                  <li><a routerLink="/other-details">Other Details</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
               
               <form  [formGroup]="experienceForm" (ngSubmit)="onSubmit1()" id="experienceForm">

               	<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Company Name<span class="required">*</span></label>	
                        		 <input type="text" class="text-input" placeholder="Company Name" formControlName="companyname" required="">
                        <div *ngIf="submitted1 && f1.companyname.errors" class="invalid-feedback">
                                            <div *ngIf="f1.companyname.errors.required">Company Name is required</div>
                                             <div *ngIf="f1.companyname.errors.pattern">Only alphabets are allowed</div>
                                        </div>

                            </div>
                        </div>


               			<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Employer Type<span class="required">*</span></label>	
                        		<select class="text-input" formControlName="employertype" required="" (change)="typeChanged($event)">
                                   <option value="">Select one</option>
                                    <option value="Current">Current</option>
                                    <option value="Previous">Previous</option>
                                     <option value="Other">Other</option>
                                </select>
                                <div *ngIf="submitted1 && f1.employertype.errors" class="invalid-feedback">
                                            <div *ngIf="f1.employertype.errors.required">Employer Type is required</div>
                                              
                                        </div>
                            </div>
                              

                            </div>

                            <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>From Year<span class="required">*</span></label> 
                             <!-- <input type="text" class="text-input" placeholder="From Year" formControlName="fromyear" required="" onfocus="this.type = 'date'" onblur="this.type = 'text'"> -->
                               <kendo-datepicker class="text-input" formControlName="fromyear" [format]="'yyyy-MM-dd'" required></kendo-datepicker>
                              <div *ngIf="submitted1 && f1.fromyear.errors" class="invalid-feedback">
                                            <div *ngIf="f1.fromyear.errors.required">From Year is required</div>
                                        </div>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>To Year<span class="required">*</span></label> 
                           <!--   <input type="text" class="text-input" placeholder=" Year" formControlName="toyear" required="" onfocus="this.type = 'date'" onblur="this.type = 'text'" id="toyear"> -->
                             <kendo-datepicker class="text-input" formControlName="toyear" [format]="'yyyy-MM-dd'" required></kendo-datepicker>
                              <div *ngIf="submitted1 && f1.toyear.errors" class="invalid-feedback">
                                            <div *ngIf="f1.toyear.errors.required">To Year is required</div>
                                        </div>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Designation<span class="required">*</span></label>	
                        		 <input type="text" class="text-input" placeholder="Designation" formControlName="designation" required="">
                        <div *ngIf="submitted1 && f1.designation.errors" class="invalid-feedback">
                                            <div *ngIf="f1.designation.errors.required">Designation is required</div>
                                            <div *ngIf="f1.designation.errors.pattern">Only alphabets are allowed</div>
                                        </div>

                            </div>
                        </div>

                        	<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Job Profile<span class="required"></span></label>	
                        		 <input type="text" class="text-input" placeholder="Job Profile" formControlName="profile">
                               <div *ngIf="submitted1 && f1.profile.errors" class="invalid-feedback">
                                            <div *ngIf="f1.profile.errors.required">Profile is required</div>
                                             <div *ngIf="f1.profile.errors.pattern">Only alphabets are allowed</div>
                                        </div>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Notice Period (In Months)<span class="required"></span></label>	
                        		 <select formControlName="noticeperiod" class="text-input">
                                    <option value="">Select Months</option>
                                    <option *ngFor="let m of months"  value="{{m}}">{{m}}</option>
                                    
                                </select>
                       

                            </div>
                        </div>




                        

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <p  class="form-error">{{error1}}</p>
                             </div>
                         </div>

                           

                        <!-- <button class="next-btn hvr-sweep-to-right login" type="submit">SIGN UP</button> -->
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Save" class="btn submit-btn">
                   </div>
                </div>
                        

                       



               	  
              
                        

                      
                      
                    </form>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  *ngIf="experiences && experiences.length > 0">
                  <table class="table table-bordered">
			        	
			        	<tbody>
			        		<tr>
			        		<td><b>Company Name</b></td>
			        		<td><b>Employer Type</b></td>
			        		<td><b>Period</b></td>
			        		<td><b>Designation</b></td>
			        		<td><b>Profile</b></td>
			        		<td><b>Notice Period</b></td>
			        		<td></td>
			        	</tr>
			        	<tr *ngFor="let e of experiences">
			        		<td>{{e.CompanyName}}</td>
			        		<td>{{e.EmployerType}}</td>
			        		<td>{{e.FromYear}} - {{e.ToYear}}</td>
			        		<td>{{e.Designation}}</td>
			        		<td>{{e.Profile}}</td>
			        		<td>{{e.NoticePeriod}}</td>
			        		<td>
			        			<i class="fa fa-pencil" aria-hidden="true" (click)=editExperience(e.Id)></i>
			        			&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true"  (click)=deleteExperience(e.Id)></i>
			        		</td>
			        	</tr>
			        </tbody>
			        </table>
			        
			    </div>

             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <a routerLink="/education"  class="btn submit-btn">Next</a>
                   </div>
                </div>




                  
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>