 <section id="inner-pages">
   <div class="container">
    <h2>Inbox</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li *ngIf="getUserType() === 'employer'"><a routerLink="/send-email">Send Email To Jobseekers</a></li>
                  <li *ngIf="getUserType() === 'Jobseeker'" class="active"><a routerLink="/inbox">Inbox</a></li>
                  <li *ngIf="getUserType() === 'employer'"><a routerLink="/outbox">Sent Mails</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
               <div class="left-blk">
               <div class="col-sm-12">
                 
              
               	
                <table class="table table-bordered">
                
                <tbody>
                  <tr>
                  <td><b>Email</b></td>
                  <td><b>Subject</b></td>
                  <td><b>Date</b></td>
                  <td></td>
                </tr>
                <tr *ngFor="let c of mails | paginate: {  id: 'joblist',itemsPerPage: 10, currentPage: p }">
                  <td>{{c.FromEmail}}</td>
                  <td>{{c.Subject}}</td>
                  <td>{{c.CreatedAt | date : 'dd-MMM-yyy'}}</td>
                  <td>
                    <a routerLink="/email/{{c.Id}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  </td>
                </tr>

                
              </tbody>
              </table>
                <pagination-controls (pageChange)="p = $event" id="joblist"></pagination-controls>
                 

               	
       
               </div>                         
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>
