 <section id="inner-pages">
   <div class="container">
    <h2>Edit Job</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li><a routerLink="/post-job">Post Job</a></li>
                  <li><a routerLink="/saved-employers-jobs">Saved Jobs</a></li>
                  <li><a routerLink="/posted-jobs">Posted Jobs</a></li>
                  <li><a routerLink="/job-applications">Job Applications</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
               <div class="left-blk" *ngIf= "user && user.Approved=='No'">
               <div class="col-sm-12">
               	 <h5>You are not approved employer. To post job you need admin's approval.
               Please contact administrator.</h5>
               </div>
               
              </div>
               <div class="left-blk" *ngIf= "user && user.Approved=='Yes'">
               <div class="col-sm-12">
               	 <h5>Contact administrator to Job Approval / to Make posted job as Featured job / to Unpost a Job.</h5>
               </div>

               <form  [formGroup]="jobForm" (ngSubmit)="onSubmit()" id="jobForm">

                <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Job Type<span class="required">*</span></label> 
                           <select class="text-input" formControlName="jobtype" required=""  (change)="typeChanged($event)">
                                    <option value="">Select Job Type</option>
                                    <option value="Contract">Contract</option>
                                    <option value="Full Time">Full Time</option>
                                    <option value="Part Time">Part Time</option>
                                   
                                </select>
                                <div *ngIf="submitted && f.jobtype.errors" class="invalid-feedback">
                                            <div *ngIf="f.jobtype.errors.required">Job Type is required</div>
                                        </div>
                            </div>
                        </div>

                             <div class="col-md-6 col-sm-6">
                          <div class="form-group" hidden="">  
                              <label>Copy Job From<span class="required"></span></label>                           
                           <select class="text-input" formControlName="copyfrom" (change)="jobChanged($event)">
                                  <option value="0">Select job</option>
                                    <option *ngFor="let j of jobs"  value="{{j.Id}}">{{j.Title}}</option>
                                 
                                </select>                                                               
                            </div>
                        </div>



                   <div class="col-md-12 col-sm-12">
                    <hr>
                       <label>Job Post Details</label>
                    <hr>
                    </div>

                     <div class="col-md-4 col-sm-4">
                       <div class="form-group">
                        <label>Job Title<span class="required">*</span></label> 
                          	<input type="text" placeholder="Job Title" formControlName="title" class="text-input" required="">
                                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                            <div *ngIf="f.title.errors.required">Title is required</div>
                                        </div>		
                       </div>
                    </div>

                     <div class="col-md-4 col-sm-4">
                       <div class="form-group">
                        <label>Keywords<span class="required">*</span></label> 
                          		<input type="text" placeholder="Keywords" formControlName="keywords" class="text-input" required="">
                                <div *ngIf="submitted && f.keywords.errors" class="invalid-feedback">
                                            <div *ngIf="f.keywords.errors.required">Keywords is required</div>
                                        </div>			
                       </div>
                    </div>


                     <div class="col-md-2 col-sm-2">
                       <div class="form-group">
                            <label>No Of Vacancies<span class="required">*</span></label> 
                        		<input type="text" placeholder="No Of Vacancies" formControlName="vacancies" class="text-input">
                                <div *ngIf="submitted && f.vacancies.errors" class="invalid-feedback">
                                	<div *ngIf="f.vacancies.errors.required">No of vacancies required</div>
                                	<div *ngIf="f.vacancies.errors.pattern">No of vacancies must be number</div>
                                </div>		
                       </div>
                    </div>

                     <div class="col-md-2 col-sm-2">
                       <div class="form-group">
                        	<label>Candidature<span class="required">*</span></label> 
                           <select class="text-input" formControlName="candidature" required="">
                                    <option value="">Select One</option>
                                    <option value="Local">Local</option>
                                    <option value="Outsider">Outsider</option>
                                   
                                </select>
                                <div *ngIf="submitted && f.candidature.errors" class="invalid-feedback">
                                            <div *ngIf="f.candidature.errors.required">Candidature is required</div>
                                        </div>	
                       </div>
                    </div>

                     <div class="col-md-12 col-sm-12">
                       <div class="form-group">
                        <label>Job Description<span class="required">*</span></label> 

                          		<!-- <textarea class="textarea summernote"  placeholder="Desrciption" rows="5" formControlName="description" required=""></textarea> -->
                               <angular-editor formControlName="description"></angular-editor>
                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                            <div *ngIf="f.description.errors.required">Description is required</div>
                                        </div>			
                       </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                          <div class="form-group">  
                              <label>Minimum Experience(In Years)<span class="required">*</span></label>                           
                           <select class="text-input" formControlName="minexp" required="">
                                  <option value="Fresher">Fresher</option>
                                    <option *ngFor="let y of years"  value="{{y}}">{{y}}</option>
                                    <option value="More Than 20">More Than 20</option>
                                </select>  
                                <div *ngIf="submitted && f.minexp.errors" class="invalid-feedback">
                                            <div *ngIf="f.minexp.errors.required">Minimum Experience is required</div>
                                        </div>	                              
                               
                            </div>
                        </div>

                         <div class="col-md-4 col-sm-4">
                          <div class="form-group">  
                              <label>Maximun Experience(In Years)<span class="required">*</span></label>                           
                           <select class="text-input" formControlName="maxexp" required="">
                            <option value="Fresher">Fresher</option>
                                    <option *ngFor="let y of years"  value="{{y}}">{{y}}</option>
                                    <option value="More Than 20">More Than 20</option>
                                </select>  
                                <div *ngIf="submitted && f.maxexp.errors" class="invalid-feedback">
                                            <div *ngIf="f.maxexp.errors.required">Maximun Experience is required</div>
                                        </div>	                              
                               
                            </div>
                        </div>

                         <div class="col-md-4 col-sm-4">
                          <div class="form-group">  
                              <label>Currency<span class="required">*</span></label>                           
                           <select class="text-input" formControlName="currency">
                            <option value="">Select Currency</option>
                                     <option *ngFor="let c of currencies"  value="{{c.Title}}">{{c.Title}}</option>
                                </select> 
                                <div *ngIf="submitted && f.currency.errors" class="invalid-feedback">
                                            <div *ngIf="f.currency.errors.required">Currency is required</div>
                                        </div>                               
                               
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                          <div class="form-group">  
                              <label>Minimum CTC(Per Annum)<span class="required">*</span></label>                           
                           <select class="text-input" formControlName="minctc" required="">
                                  
                                    <option *ngFor="let y of ctc"  value="{{y}}">{{y}}</option>
                                  
                                </select>  
                                <div *ngIf="submitted && f.minctc.errors" class="invalid-feedback">
                                            <div *ngIf="f.minctc.errors.required">Minimum CTC is required</div>
                                        </div>	                              
                               
                            </div>
                        </div>

                         <div class="col-md-4 col-sm-4">
                          <div class="form-group">  
                              <label>Maximun CTC(Per Annum)<span class="required">*</span></label>                           
                           <select class="text-input" formControlName="maxctc" required="">
                          
                                    <option *ngFor="let y of ctc"  value="{{y}}">{{y}}</option>
                                   
                                </select>  
                                <div *ngIf="submitted && f.maxctc.errors" class="invalid-feedback">
                                            <div *ngIf="f.maxctc.errors.required">Maximun CTC is required</div>
                                        </div>	                              
                               
                            </div>
                        </div>

                         <div class="col-md-4 col-sm-4">
                          <div class="form-group">  
                              <label>CTC<span class="required">*</span></label>                           
                           <select class="text-input" formControlName="ctcstatus">
                            <option value="">Select CTC Status</option>
                                     <option value="Public">Public</option>
                                     <option value="Private">Private</option>
                                </select> 
                                <div *ngIf="submitted && f.ctcstatus.errors" class="invalid-feedback">
                                            <div *ngIf="f.ctcstatus.errors.required">CTC Status is required</div>
                                        </div>                               
                               
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-4">
                          <div class="form-group">
                                <label>Job In Country<span class="required">*</span></label> 
                           <!-- <select class="text-input select2" formControlName="countries" required="" id="countries" (change)="countryChanged()" multiple>
                                    
                                    <option *ngFor="let c of countries"  value="{{c.id}}">{{c.name}}</option>
                                </select> -->
                                <kendo-multiselect
                                    class = "text-input"
                                    id="countries"
                                    formControlName="countries"
                                    placeholder="Select Countries"
                                    (valueChange)="countryChanged()"
                                    [data]="countries"
                                    [textField]="'name'"
                                    [valueField]="'id'"
                                    [valuePrimitive]="true"
                                >
                                </kendo-multiselect>
                                <div *ngIf="submitted && f.countries.errors" class="invalid-feedback">
                                            <div *ngIf="f.countries.errors.required">Country is required</div>
                                        </div>
                            </div>
                        </div>

                         <div class="col-md-4 col-sm-4">
                          <div class="form-group">
                                <label>Job In State<span class="required">*</span></label> 
                          <!--  <select class="text-input" id="states" formControlName="states" required="" (change)="stateChanged($event)" multiple="">
                                    
                                    <option *ngFor="let c of states"  value="{{c.id}}">{{c.name}}</option>
                                </select> -->
                                <kendo-multiselect
                                    class = "text-input"
                                    id="states"
                                    formControlName="states"
                                    placeholder="Select States"
                                    (valueChange)="stateChanged()"
                                    [data]="states"
                                    [textField]="'name'"
                                    [valueField]="'id'"
                                    [valuePrimitive]="true"
                                >
                                </kendo-multiselect>
                                <div *ngIf="submitted && f.states.errors" class="invalid-feedback">
                                            <div *ngIf="f.states.errors.required">State is required</div>
                                        </div>
                            </div>
                        </div>

                          <div class="col-md-4 col-sm-4">
                          <div class="form-group">
                                <label>Job In City<span class="required">*</span></label> 
                           <!-- <select class="text-input" id="cities" formControlName="cities" required="" multiple="">
                                  
                                    <option *ngFor="let c of cities"  value="{{c.id}}">{{c.name}}</option>
                                </select> -->
                                <kendo-multiselect
                                    class = "text-input"
                                    id="cities"
                                    formControlName="cities"
                                    placeholder="Select Cities"
                                    [data]="cities"
                                    [textField]="'name'"
                                    [valueField]="'id'"
                                    [valuePrimitive]="true"
                                >
                                </kendo-multiselect>
                                <div *ngIf="submitted && f.cities.errors" class="invalid-feedback">
                                            <div *ngIf="f.cities.errors.required">City is required</div>
                                        </div>
                            </div>
                        </div>

                         <div class="col-md-4 col-sm-4">
                          <div class="form-group">
                                <label>Industry<span class="required">*</span></label> 
                          <!--  <select class="text-input" id="industries" formControlName="industries" required="" multiple="">
                                    <option value="">Select Industry</option>
                                    <option *ngFor="let c of industries"  value="{{c.Id}}">{{c.Title}}</option>
                                </select> -->
                                <kendo-multiselect
                                    class = "text-input"
                                    id="industries"
                                    formControlName="industries"
                                    placeholder="Select Industries"
                                    [data]="industries"
                                    [textField]="'Title'"
                                    [valueField]="'Id'"
                                    [valuePrimitive]="true"
                                >
                                   </kendo-multiselect>

                                <div *ngIf="submitted && f.industries.errors" class="invalid-feedback">
                                            <div *ngIf="f.industries.errors.required">Industry is required</div>
                                        </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                          <div class="form-group">
                                <label>Profile<span class="required">*</span></label> 
                           <!-- <select class="text-input" id="profiles" formControlName="profiles" required="" multiple="">
                                    <option value="">Select Profile</option>
                                    <option *ngFor="let c of profiles"  value="{{c.Id}}">{{c.Title}}</option>
                                </select> -->
                                <kendo-multiselect
                                    class = "text-input"
                                    id="profiles"
                                    formControlName="profiles"
                                    placeholder="Select Profiles"
                                    [data]="profiles"
                                    [textField]="'Title'"
                                    [valueField]="'Id'"
                                    [valuePrimitive]="true"
                                >
                                </kendo-multiselect>
                                <div *ngIf="submitted && f.profiles.errors" class="invalid-feedback">
                                            <div *ngIf="f.profiles.errors.required">Profile is required</div>
                                        </div>
                            </div>
                        </div>



                         <div class="col-md-4 col-sm-4">
                          <div class="form-group"> 
                              <label>Designation<span class="required">*</span></label>    
                          <!--  <select class="text-input" id="designations" formControlName="designations" required="" multiple="">
                                    <option value="">Select Designation</option>
                                    <option *ngFor="let c of designations"  value="{{c.Id}}">{{c.Title}}</option>
                                </select> -->
                                <kendo-multiselect
                                    class = "text-input"
                                    id="designations"
                                    formControlName="designations"
                                    placeholder="Select Designations"
                                    [data]="designations"
                                    [textField]="'Title'"
                                    [valueField]="'Id'"
                                    [valuePrimitive]="true"
                                >
                                </kendo-multiselect>
                                <div *ngIf="submitted && f.designations.errors" class="invalid-feedback">
                                            <div *ngIf="f.designations.errors.required">Designation is required</div>
                                        </div>
                            </div>
                        </div>

                          <div class="col-md-4 col-sm-4">
                          <div class="form-group">
                                <label>Job Expiry Date<span class="required">*</span></label> 
                             <!-- <input type="text" class="text-input" placeholder="Job Expiry Date" formControlName="expdate" required="" onfocus="this.type = 'date'" onblur="this.type = 'text'"> -->
                             <kendo-datepicker class="text-input" formControlName="expdate" [format]="'yyyy-MM-dd'" required></kendo-datepicker>
                              <div *ngIf="submitted && f.expdate.errors" class="invalid-feedback">
                                            <div *ngIf="f.expdate.errors.required">Job Expiry Date is required</div>
                                        </div>

                            </div>
                        </div>

                         <div class="col-md-8 col-sm-8">
                          <div class="form-group">
                                <label>Job Condition<span class="required"></span></label> 
                             <input type="text" class="text-input" placeholder="Job Condition" formControlName="condition" >
                             
                            </div>
                        </div>

                          <div class="col-md-12 col-sm-12">
                            <hr>
                       <label>Desired Educational Qualifications</label>
                    <hr>
                    </div>

                      <div class="col-md-4 col-sm-4">
                          <div class="form-group">
                                <label>Specify UG Qualifiactions<span class="required">*</span></label> 
                         <!--   <select class="text-input" id="ugqualifications" formControlName="ugqualifications" required="" multiple="">
                                    <option value="0">Not Required</option>
                                    <option *ngFor="let c of ugqualifications"  value="{{c.Id}}">{{c.Title}}</option>
                                </select> -->
                                   <kendo-multiselect
                                    class = "text-input"
                                    id="ugqualifications"
                                    formControlName="ugqualifications"
                                    placeholder="Select Qualifiactions"
                                    [data]="ugqualifications"
                                    [textField]="'Title'"
                                    [valueField]="'Id'"
                                    [valuePrimitive]="true"
                                >
                                </kendo-multiselect>
                                <!-- <div *ngIf="submitted && f.ugqualifications.errors" class="invalid-feedback">
                                            <div *ngIf="f.ugqualifications.errors.required">UG Qualifiaction is required</div>
                                        </div> -->
                            </div>
                        </div>

                           <div class="col-md-4 col-sm-4">
                          <div class="form-group">
                                <label>Specify PG Qualifiactions<span class="required">*</span></label> 
                           <!-- <select class="text-input" id="pgqualifications" formControlName="pgqualifications" required="" multiple="">
                                    <option value="0">Not Required</option>
                                    <option *ngFor="let c of pgqualifications"  value="{{c.Id}}">{{c.Title}}</option>
                                </select>
                                <div *ngIf="submitted && f.pgqualifications.errors" class="invalid-feedback">
                                            <div *ngIf="f.pgqualifications.errors.required">PG Qualifiaction is required</div>
                                        </div> -->
                                           <kendo-multiselect
                                    class = "text-input"
                                    id="pgqualifications"
                                    formControlName="pgqualifications"
                                    placeholder="Select Qualifiactions"
                                    [data]="pgqualifications"
                                    [textField]="'Title'"
                                    [valueField]="'Id'"
                                    [valuePrimitive]="true"
                                >
                                </kendo-multiselect>
                            </div>
                        </div>
                          <div class="col-md-4 col-sm-4">
                          <div class="form-group">
                                <label>Specify Doctorate Qualifiactions<span class="required">*</span></label> 
                           <!-- <select class="text-input" id="doctoratequalifications" formControlName="doctoratequalifications" required="" multiple="">
                                    <option value="0">Not required</option>
                                    <option *ngFor="let c of doctoratequalifications"  value="{{c.Id}}">{{c.Title}}</option>
                                </select>
                                <div *ngIf="submitted && f.doctoratequalifications.errors" class="invalid-feedback">
                                            <div *ngIf="f.doctoratequalifications.errors.required">Doctorate Qualifiaction  is required</div>
                                        </div> -->

                                  <kendo-multiselect
                                    class = "text-input"
                                    id="doctoratequalifications"
                                    formControlName="doctoratequalifications"
                                    placeholder="Select Qualifiactions"
                                    [data]="doctoratequalifications"
                                    [textField]="'Title'"
                                    [valueField]="'Id'"
                                    [valuePrimitive]="true"
                                >
                                </kendo-multiselect>
                            </div>
                        </div>

                          <div class="col-md-12 col-sm-12">
                    <hr>
                       <label>Company Information</label>
                    <hr>
                    </div>

                    <div class="col-md-4 col-sm-4">
                          <div class="form-group">
                            <label>Contact Persons<span class="required">*</span></label>   
                            &nbsp;&nbsp;<button type="button" class="btn" data-toggle="modal" data-target="#contactform">Add new contact</button>
                           <!-- <select class="text-input" id="contacts" formControlName="contacts" required="" multiple="" (change)="contactChanged()">
                                    <option value=" ">Select Contact Persons</option>
                                    <option *ngFor="let c of contacts"  value="{{c.Id}}">{{c.FirstName}} {{c.LastName}}</option>
                                </select> -->
                                 <kendo-multiselect
                                    class = "text-input"
                                    id="contacts"
                                    formControlName="contacts"
                                    placeholder="Select Contacts"
                                     (valueChange)="contactChanged()"
                                    [data]="contacts"
                                    [textField]="'fullname'"
                                    [valueField]="'Id'"
                                    [valuePrimitive]="true"
                                >
                                </kendo-multiselect>
                                <div *ngIf="submitted && f.contacts.errors" class="invalid-feedback">
                                            <div *ngIf="f.contacts.errors.required">Contact Person  is required</div>
                                        </div>

                            </div>
                        </div>

                       <div class="col-md-8 col-sm-8">
                          <div class="form-group">
                                 <table class="table table-bordered" *ngIf="contactpersons && contactpersons.length > 0">
                
                                  <tbody>
                                    <tr>
                                    <td><b>Name</b></td>
                                    <td><b>Email</b></td>
                                    <td><b>Mobile No</b></td>
                                    <td><b>Designation</b></td>
                                  </tr>
                                  <tr *ngFor="let c of contactpersons">
                                    <td>{{c.FirstName}} {{c.LastName}}</td>
                                    <td>{{c.Email}}</td>
                                    <td>{{c.Mobile}}</td>
                                    <td>{{c.Designation}}</td>
                                  
                                  </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>

                    <div *ngIf = "jobtype == 'Part Time' || jobtype == 'Contract'">
                           <div class="col-md-12 col-sm-12">
                    <hr>
                       <label>Other Information</label>
                    <hr>
                    </div>

                     <div class="col-md-3 col-sm-3">
                          <div class="form-group">
                               <label>Work at home<span class="required">*</span></label>  
                           <select formControlName="workfromhome" class="text-input">
                                    <option value="Yes">Yes</option>
                                     <option value="Yes">No</option>                         
                                </select>
                            </div>
                        </div>

                         <div class="col-md-3 col-sm-3">
                          <div class="form-group">
                               <label>Billing Cycle<span class="required">*</span></label>  
                           <select formControlName="billingcycle" class="text-input">
                                    <option value="Monthly">Monthly</option>
                                     <option value="Yearly">Yearly</option>
                                </select>
                            </div>
                        </div>

                         <div class="col-md-3 col-sm-3">
                          <div class="form-group">
                               <label>Lakhs<span class="required">*</span></label>  
                           <select formControlName="lakhs" class="text-input">
                                    <option *ngFor="let m of lakhs"  value="{{m}}">{{m}}</option>                                   
                                </select>
                            </div>
                        </div>

                         <div class="col-md-3 col-sm-3">
                          <div class="form-group">
                               <label>Thousands<span class="required">*</span></label>  
                           <select formControlName="thousands" class="text-input">
                                    <option *ngFor="let m of thousands"  value="{{m}}">{{m}}</option>                                   
                                </select>
                            </div>
                        </div>


                         <div class="col-md-6 col-sm-6" *ngIf = "jobtype == 'Contract'">
                          <div class="form-group">
                               <label>Joining Month<span class="required">*</span></label>  
                           <select formControlName="joiningmonth" class="text-input">

                                    <option *ngFor="let m of joiningmonth"  value="{{m}}">{{m}}</option>                                   
                                </select>
                            </div>
                        </div>


                         <div class="col-md-6 col-sm-6" *ngIf = "jobtype == 'Contract'">
                          <div class="form-group">
                               <label>Contract Period<span class="required">*</span></label>  
                           <select formControlName="contractperiod" class="text-input">
                              <option value="Less Than One">Less Than One</option>
                                    <option *ngFor="let m of contractperiod"  value="{{m}}">{{m}}</option>                                   
                                </select>
                            </div>
                        </div>


                    </div>






                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                              <p  class="form-error">{{error}}</p>
                             </div>
                         </div>


                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Submit" class="btn submit-btn">
                   </div>
                </div>

                


               </form>
               
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>

 <!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="contactform" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Contact</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <form  [formGroup]="contactpersonForm" (ngSubmit)="onSubmit1()" id="contactpersonForm">

                  
              
                        
                    <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                            <label>First Name<span class="required">*</span></label>  
                             <input type="text" class="text-input" placeholder="First Name" formControlName="firstname" required="">
                        <div *ngIf="submitted1 && f1.firstname.errors" class="invalid-feedback">
                                            <div *ngIf="f1.firstname.errors.required">First Name is required</div>
                                        </div>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                            <label>Last Name<span class="required">*</span></label> 
                             <input type="text" class="text-input" placeholder="Last Name" formControlName="lastname" required="">
                        <div *ngIf="submitted1 && f1.lastname.errors" class="invalid-feedback">
                                            <div *ngIf="f1.lastname.errors.required">Last Name is required</div>
                                        </div>

                            </div>
                        </div>


                        

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                          <label>Email<span class="required">*</span></label> 
                            <input type="email" placeholder="email" formControlName="email" required=""  class="text-input">
                           <div *ngIf="submitted1 && f1.email.errors" class="invalid-feedback">
                                            <div *ngIf="f1.email.errors.required">Email is required</div>
                                            <div *ngIf="f1.email.errors.email">Invalid email</div>
                                        </div>
                            </div>
                        </div>


                        
                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                            <label>Mobile Number<span class="required">*</span></label> 
                            <input type="text" placeholder="Mobile Number" formControlName="mobile" required="" class="text-input">
                                <div *ngIf="submitted1 && f1.mobile.errors" class="invalid-feedback">
                                            <div *ngIf="f1.mobile.errors.required">Mobile number is required</div>
                                               <div *ngIf="f1.mobile.errors.pattern">Mobile number should be 10 digit number</div>
                                        </div>
                            </div>
                        </div>


                         <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                            <label>Contact<span class="required"></span></label>  
                            <input type="text" placeholder="Contact" formControlName="contact" class="text-input">
                                <div *ngIf="submitted1 && f1.contact.errors" class="invalid-feedback">
                                            
                                        </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group"> 
                          <label>Designation<span class="required">*</span></label>   
                           <select class="text-input" formControlName="designationid" required="" (change)="designationChanged($event)">
                                    <option value="">Select Designation</option>
                                    <option *ngFor="let c of designations"  value="{{c.Id}}">{{c.Title}}</option>
                                </select>
                                <div *ngIf="submitted1 && f1.designationid.errors" class="invalid-feedback">
                                            <div *ngIf="f1.designationid.errors.required">Designation is required</div>
                                        </div>
                            </div>
                        </div>




                      
                      

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                              <p  class="form-error">{{error1}}</p>
                             </div>
                         </div>

                           

                        <!-- <button class="next-btn hvr-sweep-to-right login" type="submit">SIGN UP</button> -->
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Save" class="btn submit-btn">
                   </div>
                </div>
                    </form>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>