 <div class="navbar-wrapper">
      <div class="container">
        <div class="login-form">
           <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                  <a routerLink="/login" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" *ngIf="isLoggedIn() === 'false'">Login <!-- <span class="caret"></span> --></a>
                  <!-- <ul class="dropdown-menu">
                    <li><a href="login.html">Job Seeker</a></li>
                    <li><a href="#">Employer</a></li> 
                  </ul> -->
                </li>
                 <li class="dropdown" *ngIf="isLoggedIn() === 'false'">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign Up <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/register">Job Seeker</a></li>
                    <li><a routerLink="/register-employer">Employer</a></li>
                  </ul>
                </li>
                <li class="dropdown" *ngIf="isLoggedIn() === 'true'">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <!-- <li><a routerLink="/dashboard">Dashboard</a></li> -->
                    <li><a *ngIf="getUserType() === 'jobseeker'" routerLink="/dashboard">Profile</a></li>
                    <li><a *ngIf="getUserType() === 'employer'" routerLink="/employers-dashboard">Profile</a></li>
                    <li><a *ngIf="getUserType() === 'employer'" routerLink="/post-job">Jobs Section</a></li>
                    <li><a *ngIf="getUserType() === 'jobseeker'" routerLink="/applied-jobs">Jobs Section</a></li>
                    <li><a *ngIf="getUserType() === 'employer'" routerLink="/resume-search">Resume Search</a></li>
                    <li><a *ngIf="getUserType() === 'jobseeker'" routerLink="/privacy-settings">Account Settings</a></li>
                    <li><a *ngIf="getUserType() === 'employer'" routerLink="/manage-letters">Account Settings</a></li>
                    <li><a *ngIf="getUserType() === 'employer'" routerLink="/send-email">Messages</a></li>
                    <li><a *ngIf="getUserType() === 'jobseeker'" routerLink="/inbox">Messages</a></li>
                    <li><a routerLink="/change-password">Change Password</a></li>
                    <li><a (click)="logout()">Logout</a></li>
                  </ul>
                </li>

          </ul>
        </div>
        </div>

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" routerLink="/"><img src="/assets/images/logo.png" class="img-responsive" alt="logo"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about-us">About Us</a></li>
                 <li><a routerLink="/blogs">Blog</a></li>
                 <li><a routerLink="/jobs">All Job</a></li>
               <!--  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jobs <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">All Jobs</a></li>
                    <li><a href="#">Jobs by Location</a></li>
                    <li><a href="#">Jobs by Profile</a></li>
                    <li><a href="#">Jobs by Skills</a> </li>
                    <li><a href="#">International Jobs</a></li>
                   
                  </ul>
                </li> -->
                <li><a routerLink="/government-jobs">Government Jobs</a></li>
                <li><a routerLink="/contact-us">Contact Us</a></li> 
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Job Seeker</a></li>
                    <li><a href="#">Employer</a></li>
                   
                  </ul>
                </li> -->

                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign Up <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="register.html">Job Seeker</a></li>
                    <li><a href="register_employer.html">Employer</a></li>
                   
                  </ul>
                </li> -->
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
     <!--  <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="banner-heading">
           <h3>Welcome to eJob Ocean, <span>to find a right job, <strong>"Register"</strong></span></h3>
              <h5>eJobOcean will help you to find a right candidate "here"</h5>
          </div>
          <img class="first-slide" src="/assets/images/head1.jpg" alt="First slide">
         <div class="container">
            <div class="carousel-caption">
              <img src="/assets/images/we-are-hiring.png" class="img-responsive">
            
            </div>
          </div> 
        </div>
        
      </div>
      
    </div><!-- /.carousel -->