 <section id="inner-pages">
   <div class="container">
    <h2>Reset Password</h2>
    
      <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
            <div class="row"> 
              <div class="col-md-7 col-sm-7 pad-0">
                <div class="left-blk">
               
               <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" id="passwordForm">
                        
               			<div class="col-md-12 col-sm-12">
                        	<div class="form-group">
                        		<input type="email" placeholder="Email" formControlName="email" required="" class="text-input">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Invalid email</div>
                                        </div>

                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                        	<div class="form-group">
                        		<input type="password" placeholder="New Password" formControlName="password" required="" class="text-input" minlength="6">
                         <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">New Password is required</div>
                                            <div *ngIf="f.password.errors.minlength">New Password length should be greater than 6</div>
                                        </div>
                            </div>
                        </div>


						<div class="col-md-12 col-sm-12">
                        	<div class="form-group">
                        		
                        <input type="password" placeholder="Confirm Password" formControlName="cpassword" required="" class="text-input">
                        <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.cpassword.errors.required">Confirm Password is required</div>
                                        </div>
                            </div>
                        </div>


                        <div class="col-md-12 col-sm-12">
                          	<div class="form-group">
                             	<p  class="form-error">{{error}}</p>
                             </div>
                         </div>

                        <!-- <button class="next-btn hvr-sweep-to-right login" type="submit">SIGN UP</button> -->
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Submit" class="btn submit-btn">
                   </div>
                </div>
                    </form>
                   <p class="text-center" id="thanks" hidden="">
                                  Password reset <a routerLink="/login">click here to login</a>
                            </p>
              </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
   
 </div>
 </section>