 <section id="inner-pages">
   <div class="container">
    <h2>Send Email To Jobseekers</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li  class="active"><a routerLink="/send-email">Send Email To Jobseekers</a></li>
                  <!-- <li><a routerLink="/inbox">Inbox</a></li> -->
                  <li><a routerLink="/outbox">Sent Mails</a></li>
                  
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
               <div class="left-blk">
               <div class="col-sm-12">

               	<form  [formGroup]="emailForm" (ngSubmit)="onSubmit()" id="emailForm">

               		<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Select from saved letters<span class="required">*</span></label>	
                        		 <select class="text-input" formControlName="letter" required="" (change)="selectLetter($event)">
                                    <option value="">Select Letter</option>
                                    <option *ngFor="let c of letters"  value="{{c.Id}}">{{c.Title}} - {{c.LetterType}}</option>
                                </select>

                            </div>
                        </div>

               		<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Subject<span class="required">*</span></label>	
                        		 <input type="text" class="text-input" placeholder="Subject" formControlName="subject" required="">
                        <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                                            <div *ngIf="f.subject.errors.required">Subject is required</div>
                                        </div>

                            </div>
                        </div>

                        


                         

                        <div class="col-md-12 col-sm-12">
                        	<div class="form-group">
                        		<label>Email Body<span class="required">*</span></label>
                        		 <angular-editor formControlName="body"></angular-editor>
                                <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
                                            <div *ngIf="f.body.errors.required">Email Body is required</div>
                                        </div>

                            </div>
                        </div>


                         <div class="col-md-12 col-sm-12">
                       <h5>Select Jobseekers</h5>
                      </div>
                    <div class="col-md-4 col-sm-4"  *ngFor="let s of jobseekers| paginate: {  id: 'joblist1',itemsPerPage: 10, currentPage: p1 }">
                        <div class="form-group">
                          <label class="checkbox-inline">
                            <input type="checkbox" id="check_{{s.Id}}" name="checkboxes" value="{{s.Id}}" >
                           {{ s.Name}}
                          </label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                       <pagination-controls (pageChange)="p1 = $event" id="joblist1"></pagination-controls>
                    </div>
             

                        <div class="col-md-12 col-sm-12">
                          	<div class="form-group">
                             	<p  class="form-error">{{error}}</p>
                             </div>
                         </div>

                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Save" class="btn submit-btn">
                   </div>
                </div>

               	</form>
                 
                 
              
               	

               	
       
               </div>                         
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>
