<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
           <input type="button" name="Submit" value="Upload" (click)="uploadFileToActivity()">
</div>