 <section id="inner-pages">
   <div class="container">
    <h2>Privacy Policy</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	
            <div class="row"> 
              <div class="col-md-12 col-sm-12">
               <div class="left-blk">

               	<p><b>Introduction</b></p>
               	<p>	
               	The www.ejobocean.com web Site (the Site ) is an online information service provided by E Job Ocean Online Services LLP , subject to your compliance with the terms and conditions set forth below. We, at E job Ocean Online Services LLP are committed at to respecting your online privacy and recognize your need for appropriate protection and management of any personally identifiable information ("Personal Information") you share with us. In order to provide a personalized browsing experience E job Ocean online services LLP may collect information from you, this may include technical or other related information from the device used to access E job Ocean Online Services LLP including without limitation contact lists in your device and its location, you may also be asked to complete a registration form. When you let us have your preferences, we will be able to deliver or allow you to access the most relevant information that meets your end.
               	</p>

               	<p>"Personal Information" means any information that may be used to identify an individual, including, but not limited to, a first and last name, a home or other physical address and an email address or other contact information, whether at work or at home. In general, you can visit E job Ocean online Services LLP web pages without telling us who you are or revealing any Personal Information about yourself.</p>

               	<p>PLEASE READ THIS DOCUMENT CAREFULLY BEFORE ACCESSING OR USING THE SITE.</p>

               	<p><b>1. Copyright, Trademarks & Licenses</b></p>
               	<p>The entire contents of the Site are protected by international copyright and trademark laws. The owner of the copyrights and trademarks are E job Ocean Online Services LLP , its affiliates or other third party licensors. YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, OR DISTRIBUTE, IN ANY MANNER, THE MATERIAL ON THE SITE, INCLUDING TEXT, GRAPHICS, CODE AND/OR SOFTWARE. You may print and download portions of material from the different areas of the Site solely for your own non-commercial use provided that you agree not to change or delete any copyright or proprietary notices from the materials. Publications, products, content or services referenced herein or on the Site are the exclusive trademarks or servicemarks of E job Ocean Online Services LLP . Other product and company names mentioned in the Site may be the trademarks of their respective owners.</p>




				<p><b>2. Use of this site</b></p>

				<p>You understand that, except for information, products or services clearly identified as being supplied by E job Ocean Online Services LLP , E job Ocean Online Services LLP , does not operate, control or endorse any information, products or services on the Internet in any way. Except for E job Ocean Online Services LLP - identified information, products or services, All information, products and services offered through the Site or on the Internet generally are offered by third parties, that are not affiliated with E job Ocean Online Services LLP. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for accuracy of data input and output, and for maintaining a means external to the Site for the reconstruction of any lost data.</p>

				<p>YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THE SITE AND THE INTERNET. E jOB OCEAN ONLINE SERVICES LLP PROVIDES THE SITE AND RELATED INFORMATION AS IS AND DOES NOT MAKE ANY EXPRESS OR IMPLIED WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS WHATSOEVER (INCLUDING WITHOUT LIMITATION WARRANTIES OF TITLE OR NONINFRINGEMENT, OR THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE) WITH REGARD TO THE SERVICE, ANY MERCHANDISE INFORMATION OR SERVICE PROVIDED THROUGH THE SERVICE OR ON THE INTERNET GENERALLY, AND E jOB OCEAN ONLINE SERVICES LLP SHALL NOT BE LIABLE FOR ANY COST OR DAMAGE ARISING EITHER DIRECTLY OR INDIRECTLY FROM ANY SUCH TRANSACTION. IT IS SOLELY YOUR RESPONSIBILITY TO EVALUATE THE ACCURACY, COMPLETENESS AND USEFULNESS OF ALL OPINIONS, ADVICE, SERVICES, MERCHANDISE AND OTHER INFORMATION PROVIDED THROUGH THE SERVICE OR ON THE INTERNET GENERALLY. E jOB OCEAN ONLINE SERVICES LLP DOES NOT WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT DEFECT IN THE SERVICE WILL BE CORRECTED.</p>

				<p><b>3. Indemnification</b></p>

				<p>You agree to indemnify, defend and hold harmless E Job Ocean Online Services LLP , its officers, directors, employees, agents, licensors, suppliers and any third party information providers to the Service from and against all losses, expenses, damages and costs, including reasonable attorneys fees, resulting from any violation of this Agreement (including negligent or wrongful conduct) by you or any other person accessing the Service.</p>

				<p><b>4. Information Gathered Via Social networking site</b></p>

				<p>We do not store your passwords entered on any social media web site, and any other such confidential information. The sole purpose of obtaining this information is to enable you to recommend jobs in accordance with your likes. None of this information is ever shared with, or sold to any third parties for marketing purposes, without your consent.</p>

				<p><b>5. Cookies and Other Tracking Technologies</b></p>

				<p>Some of our web pages utilize "cookies" and other tracking technologies. Cookies are small files saved to the user's computers hard drive that track, save and store information about the user's interactions and usage of the website. This allows the website, through its server to provide the users with a tailored experience within this website. Some cookies and other technologies may serve to recall Personal Information previously indicated by a Web user. Most browsers allow you to control cookies, including whether or not to accept them and how to remove them.</p>

				<p>You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser, but please note that if you choose to erase or block your cookies, you will need to re-enter your original user ID and password to gain access to certain parts of the web site.</p>

				<p>Tracking technologies may record information such as internet domain and host names; internet protocol (IP) addresses; browser software and operating system types; clickstream patterns; and dates and times that our site is accessed. Our use of cookies and other tracking technologies allows us to improve our web site and your web experience. We may also analyze information that does not contain Personal Information for trends and statistics. We use this information to measure traffic within our site and let advertisers know the geographic locations from where our visitors come.</p>

				<p><b>6. Link to Third Party sites</b></p>

				<p>E job Ocean Online Services LLP includes links to other websites. Such sites are governed by their respective privacy policies, which are beyond our control. Once you leave our servers, use of any information you provide is governed by the privacy policy of the operator of the site you are visiting. That policy may differ from ours. If you can't find the privacy policy of any of these sites via a link from the site's homepage, you should contact the site directly for more information. When we present information to our advertisers -- to help them understand our audience and confirm the value of advertising on our website -- it is usually in the form of aggregated statistics on traffic to various pages within our site. When you register with E job Ocean Online Services LLP, we contact you from time to time about updation of your content to provide the users such features that we believe may benefit you.</p>

				<p><b>7. Third Party Services</b></p>

				<p>Third parties provide certain services available on E job Ocean Online Services LLP s behalf. E job Ocean Online Services LLP may provide information, including Personal Information, that 'E job Ocean Online Services LLP' collects on the web to third-party service providers to help us deliver programs, products, information, and services. Service providers are also an important means by which E job Ocean Online Services LLP maintains its web sites and mailing lists. 'E job Ocean Online Services LLP ' will take reasonable steps to ensure that these third-party service providers are obligated to protect Personal Information on E job Ocean Online Services LLP's behalf.</p>

				<p>'E job Ocean Online Services LLP ' does not intend to transfer Personal Information without your consent to third parties who are not bound to act on E job Ocean Online Services LLP s behalf unless such transfer is legally required. Similarly, it is against E job Ocean Online Services LLP s policy to sell Personal Information collected online without consent.</p>

				<p><b>8. Information Sharing and Disclosure</b></p>

				<p>'E job Ocean Online Services LLP does not rent, sell, or share personal information about you with other people (save with your consent) or non-affiliated companies except to provide products or services you've requested, when we have your permission, or under the following circumstances : We provide the information to trusted partners who work on behalf of, or with, 'E job Ocean Online Services LLP ' under confidentiality agreements. These companies may use your personal information to help 'E job Ocean Online Services LLP' communicate with you about offers from 'E job Ocean Online Services LLP' and our marketing partners. However, these companies do not have any independent right to share this information; To respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims. These disclosures are made in good faith and belief that such disclosure is reasonably necessary for enforcing these terms; for complying with the applicable laws and regulations; We believe it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud including any cyber incidents or for prosecution and punishment of offences, situations involving potential threats to the physical safety of any person, violations of E job Ocean Online Services LLP terms of use, or as otherwise required by law; We transfer information about you if E job Ocean Online Services LLP is acquired by or merged with another company. In this event, 'E job Ocean Online Services LLP ' will notify you before information about you is transferred and becomes subject to a different privacy policy. 'E job Ocean Online Services LLP ' does not provide any personal information to the advertiser when you interact with or view a targeted ad. However, by interacting with or viewing an ad you are consenting to the possibility that the advertiser will make the assumption that you meet the targeting criteria used to display the ad. 'E job Ocean Online Services LLP advertisers include financial service providers (such as banks, insurance agents, stock brokers and mortgage lenders) and non-financial companies (such as stores, airlines, and software companies).</p>

				<p><b>9. Information security</b></p>

				<p>We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data, these include internal reviews of our data collection, storage, appropriate encryption and physical security measures to guard against unauthorized access to systems where we store personal data. We restrict access to your personally identifying information to employees who need to know that information in order to operate, develop or improve our services.</p>

				<p><b>10. Confidentiality and Security</b></p>

				<p>We limit access to personal information about you to employees who we believe, reasonably need to come into contact with that information, to provide products or services to you or in order to do their jobs. We have physical, electronic, and procedural safeguards that comply with the laws prevalent in India to protect personal information about you. We seek to ensure compliance with the requirements of the Information Technology Act, 2000 as amended and rules made thereunder to ensure the protection and preservation of your privacy.</p>

				<p><b>11. Changes to this Privacy Policy</b></p>

				<p>'E job Ocean Online Services LLP' reserves the right to update, change or modify this policy at any time to incorporate necessary future changes. The policy shall come to effect from the date of such update, change or modification.</p>

				<p><b>12. Miscellaneous.</b></p>

				<p>This Agreement shall all be governed and construed in accordance with the laws of India applicable to agreements made and to be performed in India. You agree that any legal action or proceeding between 'E job Ocean Online Services LLP' and you for any purpose concerning this Agreement or the parties obligations hereunder shall be brought exclusively in a federal or state court of competent jurisdiction sitting in India. Any cause of action or claim you may have with respect to the Service must be commenced within one (1) year after the claim or cause of action arises or such claim or cause of action is barred. E job Ocean Online Services LLP s failure to insist upon or enforce strict performance of any provision of this Agreement shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any provision of this Agreement. 'E job Ocean Online Services LLP' may assign its rights and duties under this Agreement to any party at any time without notice to you.</p>

				<p><b>13. Your Consent</b></p>

				<p>By using this web site, you consent to the terms of our online Privacy Policy and to E job Ocean Online Services LLP processing of Personal Information for the purposes given above, as well as those explained where 'E job Ocean Online Services LLP ' collects Personal Information on the web.</p>

				<p><b>14. Term: Termination</b></p>

				<p>This Agreement may be terminated by either party without notice at any time for any reason. The provisions of paragraphs 1 (Copyright, Trademarks & Licenses), 2 (Use of this site), 3 (Indemnification), 11 (Changes to this Privacy Policy) and 12 (Miscellaneous) shall survive any termination of this Agreement. E Job Ocean Online Services LLP is free to offer its services to any client/prospective client without restriction.</p>

				<p>Any rights not expressly granted herein are reserved.</p>

				<p><b>15. Updating your information</b></p>

				<p>We provide mechanisms for updating and correcting your personally identifying information for many of our services. For more information, please see the help pages for each service.</p>

				<p>Disclaimer: E job Ocean Online Services LLP uses the maximum care as is possible to ensure that all or any data / information in respect of electronic transfer of money does not fall in the wrong hands. For completing online transactions involving payments a user is directed to a secured payment gateway, E job Ocean Online Services LLP does not store or keep financial data such as credit card numbers/passwords/PINs etc. Since the transaction happens on a third party network not controlled by E job Ocean Online Services LLP Info, once an online transaction has been completed, the Personal Account Related Information is not accessible to anyone at E job Ocean Online Services LLP after completion of the on-line transaction at the payment gateway, this ensures maximum security.</p>

				<p>E job Ocean Online Services LLP shall not be liable for any loss or damage sustained by reason of any disclosure (inadvertent or otherwise) of any information concerning the user's account and / or information relating to or regarding online transactions using credit cards / debit cards and / or their verification process and particulars nor for any error, omission or inaccuracy with respect to any information so disclosed and used whether or not in pursuance of a legal process or otherwise.</p>

				<p>Contact Information: 'E job Ocean Online Services LLP welcomes your comments regarding this privacy statement at the contact address given at the website. Should there be any concerns about contravention of this Privacy Policy, 'E job Ocean Online Services LLP ' will employ all commercially reasonable efforts to address the same.</p>
                                      
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>