 <section id="inner-pages">
   <div class="container">
    <h2>Posted Jobs</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li><a routerLink="/post-job">Post Job</a></li>
                  <li><a routerLink="/saved-employers-jobs">Saved Jobs</a></li>
                  <li class="active"><a routerLink="/posted-jobs">Posted Jobs</a></li>
                  <li><a routerLink="/job-applications">Job Applications</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
               <div class="left-blk">
               <div class="col-sm-12">
               	
               	 	 <h5>Contact administrator to Job Approval / to Make posted job as Featured job / to Unpost a Job.</h5>

                   <form  [formGroup]="filterForm" (ngSubmit)="onSubmit()" id="filterForm">
      <div class="row">
        <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <input type="text" class="text-input" placeholder="Job Title" formControlName="title">
                
          </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                 <input type="text" placeholder="Skills" formControlName="skill" class="text-input">
          </div>
            </div>
             <div class="col-md-4 col-sm-4">
              <div class="form-group">
                 <select class="text-input" formControlName="experience" required="">
                  <option value="">Experience</option>
                                  <option value="Fresher">Fresher</option>
                                    <option *ngFor="let y of years"  value="{{y}}">{{y}}</option>
                                    <option value="More Than 20">More Than 20</option>
                                </select> 
                
          </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                 <kendo-multiselect
                    class = "text-input"
                    id="industries"
                    formControlName="industries"
                    placeholder="Select Industry"
                    [data]="industries"
                    [textField]="'Title'"
                    [valueField]="'Id'"
                    [valuePrimitive]="true"
                >
                </kendo-multiselect>
               <!--  <select class="text-input" id="industries" formControlName="industries" required="" multiple="">
                                    <option value="">Select Industrys</option>
                                    <option *ngFor="let c of industries"  value="{{c.Id}}">{{c.Title}}</option>
                                </select> -->
          </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <kendo-multiselect
                    class = "text-input"
                    id="countries"
                    formControlName="countries"
                    placeholder="Select Countries"
                    [data]="countries"
                    [textField]="'name'"
                    [valueField]="'id'"
                    [valuePrimitive]="true"
                >
                  </kendo-multiselect>
                <!--  <select class="text-input" formControlName="countries" required="" id="countries" multiple>
                                      <option value="">Select countries</option>
                                    <option *ngFor="let c of countries"  value="{{c.id}}">{{c.name}}</option>
                                </select> -->
          </div>
            </div>
            
            
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <input type="submit" value="Search" class="btn submit-btn">&nbsp;&nbsp;&nbsp;
                <input type="button" (click)="Reset()" value="Reset" class="btn submit-btn">
              </div>
            </div>
            

          </div>
          
 
  </form>
               	  <table class="table table-bordered">
			        	
			        	<tbody>
			        		<tr>
			        		<td><b>Title</b></td>
			        		<td><b>Job Type</b></td>
			        		<td><b>Job Code</b></td>
			        		<td></td>
			        	</tr>
			        	<tr *ngFor="let c of jobs | paginate: {  id: 'joblist',itemsPerPage: 10, currentPage: p }">
			        		<td><a routerLink="/view-job/{{c.Id}}">{{c.Title}}</a></td>
			        		<td>{{c.JobType}}</td>
			        		<td>{{c.JobCode}}</td>
			        		<td>
			        			<a routerLink="/edit-job/{{c.Id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
			        			&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true"  (click)=deleteJob(c.Id)></i>
			        		</td>
			        	</tr>

                
			        </tbody>
			        </table>
                <pagination-controls (pageChange)="p = $event" id="joblist"></pagination-controls>

               </div>                         
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>