 <section id="inner-pages">
   <div class="container">
    <h2>Edit Profile</h2>
    
      <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li><a routerLink="/dashboard">Profile</a></li>
                  <li class="active"><a routerLink="/profile">Edit Profile</a></li>
                  <li><a routerLink="/work-experience">Work Experience</a></li>
                  <li><a routerLink="/education">Education</a></li>
                  <li><a routerLink="/preferrences">Preferences</a></li>
                  <li><a routerLink="/languages">Languages</a></li>
                  <li><a routerLink="/other-details">Other Details</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
               
             <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()" id="profileForm" *ngIf="user">

                  <div class="col-md-12 col-sm-12">
                          <div class="form-group">
                            <label for="file">Profile Picture</label>
                            <div>
                              <img src="{{logo}}">
                            </div>
                            
    <input  type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
           
                       

                            </div>
                        </div>

                

                       
                        
                    <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                              <label>Name<span class="required">*</span></label> 
                             <input type="text" class="text-input" placeholder="Name" formControlName="name" required="">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Name is required</div>
                                            <div *ngIf="f.name.errors.pattern">Only alphabets are allowed</div>
                                        </div>

                            </div>
                        </div>

                         <div class="col-md-3 col-sm-3">
                          <div class="form-group">
                           <label>Experience (years)<span class="required">*</span></label>  
                           <select formControlName="expyears" class="text-input">
                                    <option value="">Exp. Years</option>
                                    <option value="Fresher">Fresher</option>
                                    <option *ngFor="let y of years"  value="{{y}}">{{y}}</option>
                                    <option value="More Than 20">More Than 20</option>
                                </select>
                                <div *ngIf="submitted && f.expyears.errors" class="invalid-feedback">
                                            <div *ngIf="f.expyears.errors.required">Experience Required</div>
                                        </div>
                            </div>
                        </div>

                          <div class="col-md-3 col-sm-3">
                          <div class="form-group">
                               <label>(months)<span class="required"></span></label>  
                           <select formControlName="expmonths" class="text-input">
                                    <option value="">Exp. In Months</option>
                                    <option *ngFor="let m of months"  value="{{m}}">{{m}}</option>
                                    
                                </select>
                                <div *ngIf="submitted && f.expmonths.errors" class="invalid-feedback">
                                            <div *ngIf="f.expmonths.errors.required">Experience Required</div>
                                        </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3">
                          <div class="form-group"> 
                              <label>Total CTC (Per Annum)<span class="required">*</span></label>                            
                           <input type="text" placeholder="Total CTC (Per Annum)" formControlName="ctc" required="" class="text-input">
                            <div *ngIf="submitted && f.ctc.errors" class="invalid-feedback">
                                <div *ngIf="f.ctc.errors.pattern">Enter Numeric values only</div>
                            </div>
                            </div>
                        </div>

                          <div class="col-md-3 col-sm-3">
                          <div class="form-group">  
                              <label>Currency<span class="required"></span></label>                           
                           <select class="text-input" formControlName="currency">
                            <option value="">Select Currency</option>
                                     <option *ngFor="let c of currencies"  value="{{c.Title}}">{{c.Title}}</option>
                                </select>                                
                               
                            </div>
                        </div>

                         <div class="col-md-3 col-sm-3">
                          <div class="form-group">  
                              <label>Location<span class="required">*</span></label>                           
                           <input type="text" placeholder="Current Location" formControlName="currentlocation" required="" class="text-input">
                            <div *ngIf="submitted && f.currentlocation.errors" class="invalid-feedback">
                                <div *ngIf="f.currentlocation.errors.required">Location is required</div>
                            </div>
                            </div>
                        </div>

                          <div class="col-md-3 col-sm-3">
                          <div class="form-group"> 
                              <label>Outside India<span class="required"></span></label>                            
                            <select class="text-input" formControlName="outsideindia">
                            <option value="">Outside India</option>
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Industry<span class="required">*</span></label> 
                           <select class="text-input" formControlName="industryid" required="" (change)="industryChanged($event)">
                                    <option value="">Select Industry</option>
                                    <option *ngFor="let c of industries"  value="{{c.Id}}">{{c.Title}}</option>
                                </select>
                                <div *ngIf="submitted && f.industryid.errors" class="invalid-feedback">
                                            <div *ngIf="f.industryid.errors.required">Industry is required</div>
                                        </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Profile<span class="required">*</span></label> 
                           <select class="text-input" formControlName="profileid" required="" (change)="profileChanged($event)">
                                    <option value="">Select Profile</option>
                                    <option *ngFor="let c of profiles"  value="{{c.Id}}">{{c.Title}}</option>
                                </select>
                                <div *ngIf="submitted && f.profileid.errors" class="invalid-feedback">
                                            <div *ngIf="f.profileid.errors.required">Profile is required</div>
                                        </div>
                            </div>
                        </div>



                         <div class="col-md-6 col-sm-6">
                          <div class="form-group"> 
                              <label>Designation<span class="required">*</span></label>    
                           <select class="text-input" formControlName="designationid" required="" (change)="designationChanged($event)">
                                    <option value="">Select Designation</option>
                                    <option *ngFor="let c of designations"  value="{{c.Id}}">{{c.Title}}</option>
                                </select>
                                <div *ngIf="submitted && f.designationid.errors" class="invalid-feedback">
                                            <div *ngIf="f.designationid.errors.required">Designation is required</div>
                                        </div>
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Skills<span class="required"></span></label> 
                            <input type="text" placeholder="Skills" formControlName="skill"class="text-input">
                           
                            </div>
                        </div>

                         <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Date Of Birth<span class="required">*</span></label> 
                            <!--  <input type="text" class="text-input" placeholder="Date Of Birth" formControlName="dob" required="" onfocus="this.type = 'date'" onblur="this.type = 'text'"> -->
                             <!-- <input type="text" class="text-input datepicker" placeholder="Date Of Birth" formControlName="dob" required=""> -->
                              <kendo-datepicker class="text-input" formControlName="dob" [format]="'yyyy-MM-dd'" required></kendo-datepicker>
                              <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                            <div *ngIf="f.dob.errors.required">Date Of Birth is required</div>
                                        </div>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group"> 
                              <label>Gender<span class="required">*</span></label>                            
                            <select class="text-input" formControlName="gender" required="">
                            <option value="">Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                     <option value="Other">Other</option>
                                </select>
                            </div>
                              <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                            <div *ngIf="f.gender.errors.required">Gender is required</div>
                                              
                                        </div>
                        </div>






                        
                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Email<span class="required">*</span></label> 
                            <input type="email" placeholder="email" formControlName="email" required="" readonly="" class="text-input"  *ngIf="user.Email.length > 0">
                             <input type="email" placeholder="email" formControlName="email" required="" class="text-input"  *ngIf="user.Email.length == 0">
                           <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Invalid email</div>
                                        </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Mobile Number<span class="required">*</span></label> 
                            <input type="text" placeholder="Mobile Number" formControlName="mobile" required="" readonly="" class="text-input" *ngIf="user.Mobile.length > 0">
                            <input type="text" placeholder="Mobile Number" formControlName="mobile" required="" class="text-input" *ngIf="user.Mobile.length == 0">
                                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                            <div *ngIf="f.mobile.errors.required">Mobile number is required</div>
                                               <div *ngIf="f.mobile.errors.pattern">Mobile number should be 10 digit number</div>
                                        </div>
                            </div>
                        </div>

                         <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Landline Number<span class="required"></span></label> 
                            <input type="text" placeholder="Landline Number" formControlName="landline"  class="text-input">
                           <div *ngIf="submitted && f.landline.errors" class="invalid-feedback">
                                           
                                            <div *ngIf="f.landline.errors.pattern">Invalid Landline Number</div>
                                        </div>
                            </div>
                        </div>

                         <div class="col-md-6 col-sm-6">
                          <div class="form-group">  
                              <label>Marital Status<span class="required"></span></label>                           
                            <select class="text-input" formControlName="maritalstatus">
                            <option value="">Marital Status</option>
                                    <option value="Single">Single</option>
                                    <option value="Married">Married</option>
                                     <option value="Widowed">Widowed</option>
                                     <option value="Divorced">Divorced</option>
                                     <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>


                         <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                  <label>Correspondance Address<span class="required">*</span></label> 
                               <textarea rows="5" placeholder="Correspondance Address : Eg:- House/Flat No, Apartment Name" formControlName="caddress" required="" class="textarea"></textarea>
                          <div *ngIf="submitted && f.caddress.errors" class="invalid-feedback">
                                            <div *ngIf="f.caddress.errors.required">Address is required</div>
                                        </div>
                             </div>
                         </div>



                          <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                  <label>Permanent Address<span class="required">*</span></label> 
                               <textarea rows="5" placeholder="Permanent Address : Eg:- House/Flat No, Apartment Name" formControlName="address" required="" class="textarea"></textarea>
                          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                            <div *ngIf="f.address.errors.required">Address is required</div>
                                        </div>
                             </div>
                         </div>


                        
                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Country<span class="required">*</span></label> 
                           <select class="text-input" formControlName="countryid" required="" (change)="countryChanged($event)">
                                    <option value="">Select Country</option>
                                    <option *ngFor="let c of countries"  value="{{c.id}}">{{c.name}}</option>
                                </select>
                                <div *ngIf="submitted && f.countryid.errors" class="invalid-feedback">
                                            <div *ngIf="f.countryid.errors.required">Country is required</div>
                                        </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>State<span class="required">*</span></label> 
                           <select class="text-input" formControlName="stateid" required="" (change)="stateChanged($event)">
                                    <option value="">Select State</option>
                                    <option *ngFor="let c of states"  value="{{c.id}}">{{c.name}}</option>
                                </select>
                                <div *ngIf="submitted && f.stateid.errors" class="invalid-feedback">
                                            <div *ngIf="f.stateid.errors.required">State is required</div>
                                        </div>
                            </div>
                        </div>

                          <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>City<span class="required">*</span></label> 
                           <select class="text-input" formControlName="cityid" required="" (change)="cityChanged($event)">
                                    <option value="">Select City</option>
                                    <option *ngFor="let c of cities"  value="{{c.id}}">{{c.name}}</option>
                                </select>
                                <div *ngIf="submitted && f.cityid.errors" class="invalid-feedback">
                                            <div *ngIf="f.cityid.errors.required">City is required</div>
                                        </div>
                            </div>
                        </div>

                         <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Pin Code<span class="required"></span></label> 
                             <input type="text" class="text-input" placeholder="Pin code" formControlName="pincode">
                             <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                                           
                                            <div *ngIf="f.pincode.errors.pattern">Invalid Pincode</div>
                                        </div>
                             

                            </div>
                        </div>

                          <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Linked In Profile Link<span class="required"></span></label> 
                             <input type="text" class="text-input" placeholder="Linked In Profile Url" formControlName="linkedin">
                             

                            </div>
                        </div>


                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Resume<span class="required">*</span></label> 
                             <input  type="file" id="file1" (change)="handleFileInput1($event.target.files)">
                             <a *ngIf="resume !== ''" href="{{resume}}" download>View Resume</a>
           
                            </div>
                        </div>

                    
                        
                                                               

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                              <p  class="form-error">{{error}}</p>
                             </div>
                         </div>

                           <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                               <p class="text-center" id="tdanks" hidden="">
                                  Profile updated
                            </p>
                             </div>
                         </div>

                        <!-- <button class="next-btn hvr-sweep-to-right login" type="submit">SIGN UP</button> -->
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Submit" class="btn submit-btn">
                   </div>
                </div>
                    </form>
                      
                   <p class="text-center" id="thanks" hidden="">
                                  Profile updated
                            </p>
              </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
   
 </div>
 </section>