 <section id="inner-pages">
   <div class="container">
    <h2>Profile</h2>
    
      <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li class="active"><a routerLink="/employers-dashboard">Profile</a></li>
                  <li><a routerLink="/employer-profile">Edit Profile</a></li>
                  <li><a routerLink="/contact-persons">Contact Persons</a></li>
                </ul>
              </div>
            </div>

            <div class="row" *ngIf="user"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
                	<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label for="file">Company Logo</label>
                        		<div>
                        			<img  src="{{user.image}}">
                        		</div>

                            </div>
                        </div>

                    <div class="col-md-12 col-sm-12">
                    	<div class="form-group">
                        <label>Company Name : </label> {{user.CompanyName}}
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                    	  <div class="form-group">
                          <label>Company Website : </label> {{user.CompanyWebsite}}
                          </div>                        	
                    </div>
                        
               	    <div class="col-md-6 col-sm-6">
               	    	<div class="form-group">
                        <label>Employer Name : </label> {{user.Name}}
                        </div> 
                    </div>

                    <div class="col-md-6 col-sm-6">
                    	<div class="form-group">
                        <label>Company Type : </label> {{user.CompanyType}}
                        </div> 
                    </div>


                    <div class="col-md-6 col-sm-6">
                    	<div class="form-group">
                        <label>Email : </label> {{user.Email}}
                        </div> 
                    </div>


                    <div class="col-md-12 col-sm-12">
                    	<div class="form-group">
                        <label>Address : </label> {{user.Address}}
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6">
                    	<div class="form-group">
                        <label>Industry : </label> {{user.Industry}}
                        </div> 
                    </div>

                    <div class="col-md-6 col-sm-6">
                    	<div class="form-group">
                        <label>Country : </label> {{user.Country}}
                        </div> 
                    </div>

                    <div class="col-md-6 col-sm-6">
                    	<div class="form-group">
                        <label>State : </label> {{user.State}}
                        </div> 
                    </div>

                    <div class="col-md-6 col-sm-6">
                    	<div class="form-group">
                        <label>City : </label> {{user.City}}
                        </div> 
                    </div>

                   <div class="col-md-6 col-sm-6">
                   		<div class="form-group">
                        <label>Contact : </label> {{user.ContactNo}}
                        </div>            
                    </div>


                    <div class="col-md-6 col-sm-6">
                    	<div class="form-group">
                        <label>Mobile Number : </label> {{user.Mobile}}
                        </div> 
                    </div>

					<div class="col-md-6 col-sm-6">
						<div class="form-group">
                        <label>Fax No : </label> {{user.FaxNo}}
                        </div> 
                    </div>
                   

                    <div class="col-md-6 col-sm-6">
                    	<div class="form-group">
                        <label>Employee Count : </label> {{user.EmployeeCount}}
                        </div> 
                     </div>

                    <div class="col-md-6 col-sm-6">
                    	<div class="form-group">
                        <label>Pan Number : </label> {{user.PanNo}}
                        </div> 
                    </div>


                    <div class="col-md-6 col-sm-6">
                    	<div class="form-group">
                        <label>TIN Number : </label> {{user.TinNo}} 
                        </div>
                    </div>

                </div>               
               </div>
            </div>

               <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
               
             

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="contacts && contacts.length > 0">
               	  	<label>Contact Persons : </label>
                  <table class="table table-bordered">
			      
			        	<tbody>
			        		<tr>
			        		<td><b>Name</b></td>
			        		<td><b>Email</b></td>
			        		<td><b>Mobile No</b></td>
			        		<td><b>Designation</b></td>

			        	</tr>
			        	<tr *ngFor="let c of contacts">
			        		<td>{{c.FirstName}} {{c.LastName}}</td>
			        		<td>{{c.Email}}</td>
			        		<td>{{c.Mobile}}</td>
			        		<td>{{c.Designation}}</td>

			        	</tr>
			        </tbody>
			        </table>
			        
			    </div>


                  
              </div>
              </div>
             
            </div>


          </div>
        </div>
      </div>


  
   
 
 </div>
 </section>