
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kgt6s2');
  src:  url('../fonts/icomoon.eot?kgt6s2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kgt6s2') format('truetype'),
    url('../fonts/icomoon.woff?kgt6s2') format('woff'),
    url('../fonts/icomoon.svg?kgt6s2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-placeholder-1:before {
  content: "\e900";
}
.icon-placeholder:before {
  content: "\e901";
}
.icon-phone-call:before {
  content: "\e902";
}
.icon-telephone:before {
  content: "\e903";
}
.icon-facebook-placeholder-for-locate-places-on-maps:before {
  content: "\e904";
}
.icon-sent-mail:before {
  content: "\e905";
}
.icon-clock-circular-outline:before {
  content: "\e906";
}
.icon-group-profile-users:before {
  content: "\e907";
}
.icon-wallet-filled-money-tool:before {
  content: "\e908";
}

body {font-family: 'Roboto', sans-serif; color:#343434; line-height:30px; font-size:16px; padding-bottom:0px; overflow-x:hidden}
ul, ol { padding:0; margin:0}
a { transition:all 500ms ease-in-out; position:relative}
a:hover, a:focus, a:active { outline:0}
h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif;}
p{ margin:0px 0 10px; font-family: 'Roboto', sans-serif; font-size: 18px; line-height:30px !important; }



.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color:#23c0e9;
    background-color:transparent;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color:#23c0e9;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a {
    color:#272a3d;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color:#23c0e9;
    background-color: transparent;
}

.carousel-caption {
    position: absolute;
    right:0%;
    bottom:-50px;
    left:58%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel { margin-bottom: 0px; }
#welcome { padding:0 0 40px 0; background:#f5f5f5 url(../images/welcome-bg.png)  }

.find-catgory { background: #fff; padding: 20px; }

.text-input { 
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
} 
.textarea { 
    display: block;
    width: 100%;
    height:80px;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
} 

.search-btn { background:#233d7b; display: inline-block; padding:8px 20px; font-size: 15px; font-weight: 500; color: #fff; border-radius: 4px; 
   }

 .search-btn:hover { background-color:rgba(255,255,255,.2)  color#fff; } 
#punch-line  { text-align: center;  padding: 100px 0; }
#punch-line   { 
 	background: url(../images/punch-bg.png) no-repeat;
 	 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}

.sort-text h2 { 
	padding-bottom: 0;
    color: #fff !important;
    font-size: 40px;
    margin-bottom:20px;
   }
.sort-text p {
    margin-top: 0;
     font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #fff !important;
}

.btn-search { /*margin-top:15px ;*/ border: 1px solid #fff; padding: 12px 25px; border-radius:4px; color: #fff; }
.apply-btn { margin-top:15px ; background: #23c0e9; border: 1px solid #0199c1; padding: 12px 25px; border-radius:4px; color: #fff; }
.btn-search:hover { color: #fff; }

.client-logo { border: 1px solid #eee; padding: 15px; }
.profile-text { font-size:18px; font-weight: bold;  margin-bottom: 0;  }
.post_dt { font-size: 13px; text-align: right; }
.durtion { margin:0px; padding: 0px;   }
.durtion li { display: inline-block; padding:0 15px 0 0px; font-size: 13px; }
.durtion a { font-size: 13px; color: #272a3d; }
.job-descrip { position: relative; overflow: hidden; padding:10px;
    border-left: 1px solid #23c0e9;
    box-shadow: 1px 0px 20px rgba(0,0,0,0.07);
    border-radius: 4px;
    background-color: #FFF;
    margin-bottom: 15px;
   }

/* TABS */

#middle .nav-tabs>li { float: none; }

.tabs-left > .nav-tabs{
    margin-right:0px;
    padding: 0;
    height: 100%; /* 700px - Debe ser el mismo height que el que tenga .tab-content */
}

/* CONTENIDO DE LOS TABS */
.tab-content {
    background-color: #FFFFFF;
    border:solid 1px #DCE1E5;
    border-left-style: none;
    height: 100%;
    margin-bottom: 15px;
    min-height:130px;
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
    
    -webkit-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
}

.tab-content > div {
    margin-top: 26px;
}

/* Formato del tab activo */
.tabs-left > .nav-tabs .active > a, 
.tabs-left > .nav-tabs .active > a:hover, 
.tabs-left > .nav-tabs .active > a:focus,

.tabs-left > .nav-tabs .active div, 
.tabs-left > .nav-tabs .active div:hover, 
.tabs-left > .nav-tabs .active div:focus
{
    background-color:#233d7b;
    color: #fff;
    border-bottom-style: none;
    border-left-style: none;

    
    /*border-bottom: 1px solid #DCE1E5;*/
    /*border-left: 1px solid #DCE1E5;*/
    border-bottom-left-radius: 0px;
    border-right-style: none;
    
    margin-right: -1px;
    
    -webkit-box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
    -moz-box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
    box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
}

/* Formato de los tabs en general */
.tabs-left > .nav-tabs > li:nth-child(1) > a,
.tabs-left > .nav-tabs > li:nth-child(1) > a:hover,
.tabs-left > .nav-tabs > li:nth-child(1) > a:focus,

.tabs-left > .nav-tabs > li:nth-child(1) > div,
.tabs-left > .nav-tabs > li:nth-child(1) > div:hover,
.tabs-left > .nav-tabs > li:nth-child(1) > div:focus 
{
    cursor: pointer;
    border-top-left-radius: 4px;
}

.tabs-left > .nav-tabs > li.active:nth-child(1) > a,
.tabs-left > .nav-tabs > li.active:nth-child(1) > a:hover,
.tabs-left > .nav-tabs > li.active:nth-child(1) > a:focus,

.tabs-left > .nav-tabs > li.active:nth-child(1) > div,
.tabs-left > .nav-tabs > li.active:nth-child(1) > div:hover,
.tabs-left > .nav-tabs > li.active:nth-child(1) > div:focus 
{
    border-top-left-radius: 4px;
    border-bottom-style: none;
    border-left: 1px solid #DCE1E5;
}

.tabs-left > .nav-tabs > li > a, 
.tabs-left > .nav-tabs > li > div {
    /*display:block;*/
    /*display: table;*/
    /*border: solid 1px transparent;*/
    margin-right: -1px;
    margin-bottom: -1px;
    border:solid 1px #DCE1E5;
    border-radius: 0px;
}

/* Style of the div element acting as tab content */
.tabbable.tabs-left > .nav-tabs > li > div > div {
    display:block;
   
    padding: 1em;
    
}

/** For elements on the same line that jump down - I */
@media (max-width: 767px) {
    .mt-20 {
        margin-top:20px;
    }
    
    .tab-content {
        border-left-style: solid;
                border-radius: 4px 4px 4px 4px;
           -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
    }
}

#middle { padding: 80px 0;  }
#middle h3 { text-align: center;
    font-size: 30px;
    margin:0 0 40px;
    padding-bottom: 18px;
    position: relative;
    
    text-transform: capitalize;
    font-weight: 600;
    color: #242424; 
}

#middle h3::after {
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
    background-color:#233d7b;
}


.work-blk { background: #fff;
    padding:20px;
    border-width: 1px;
    border-style: solid;
    border-color: #e9e9e9 #e9e9e9 #23c0e9;
    min-height: 257px;
   }

   #works {
    padding:80px 0 ;
    background: #f5f5f5 url(../images/welcome-bg.png);
    text-align: center;
}
#works h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-bottom: 18px;
    position: relative;
    text-transform: capitalize;
    font-weight: 600;
    color: #242424;
}

#works p { text-align: center; /*font-size:16px !important;*/ margin: 15px 0;   }
.work-blk p { font-size:14px !important; line-height: 24px !important;   }

#works h3::after {
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
    background-color:#233d7b;
}


.banner-heading {
    position: absolute;
    bottom: 120px;
    color: #fff;
    z-index: 9;
    left: 5%;
}

.banner-heading h3 { 
    font-size:48px;
    line-height:48px;
    font-weight:600;
    text-transform:capitalize;
    text-shadow: 1px 5px rgba(255,255,255,0.09);
}

.banner-heading h3 span {
    display: block;
    text-transform: capitalize;
    font-size:24px;
    font-weight: normal;
    text-shadow:none;
}

.banner-heading h5 { 
    font-size:20px;
    text-transform: capitalize;
    text-shadow:none;
    margin: 0px;
}


#question { padding:40px 0 40px 0 ; background: #f5f5f5 url(../images/welcome-bg.png);  }

#question h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-bottom: 18px;
    position: relative;
    text-transform: capitalize;
    font-weight: 600;
    color: #242424;
}

#question h3::after {
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
    background-color:#233d7b;
}

#question p { text-align: center; font-size:16px; margin: 15px 0;  }

footer { background:#171d30; padding:60px 0 0; border-top:5px solid #23c0e9; }
.fot-link h4 {
    color: #ffff;
    font-size: 18px;
    text-transform: capitalize;
}

.fot-link ul { margin:0px: padding:0px;  }
.fot-link li { color: #fff; display: block; padding:5px 0;  }
.fot-link a { color: #fff; font-size:14px;  }

.dropdown-menu { 
    border-top: 2px solid #29b1fd; 
    box-shadow:0px 0px 15px 5px rgba(30, 31, 33, 0.15); 
        padding: 0px 0;
    margin: 0px 0 0;
}
.dropdown-menu>li>a {
    padding: 8px 20px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color:#233d7b;
}

/*@media (min-width: 768px) {
 .dropdown .dropdown-menu{
    display: block; 
  opacity:0;
-webkit-transition: all 500ms ease-in;
-moz-transition: all 500ms ease-in;
-ms-transition: all 500ms ease-in;
-o-transition: all 500ms ease-in;
transition: all 500ms ease-in;
}*/

#catrgory { padding: 80px 0; }

.cat-blk {
/* display: inline-block; */
padding: 60px 30px;
border: 1px solid #f2f0f0;
text-align: center;
background-color: #fff;
border-radius: 4px;
position: relative;
overflow: hidden;
box-shadow: 6pt 0.4375pc 0 0 #e7ebef;
margin-bottom: 30px;
height: 180px;
}

.cat-blk:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #f5f5f5;
    top: -10px;
    left: -45px;
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease- 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.cat-blk h3 { color:#242424; font-size: 18px; margin: 0px;  }
.cat-blk span {color: #777;
    display: block;
    margin-top:0px;
    font-size: 14px;
    font-weight: 400 
}

#catrgory a:hover .cat-blk {
    box-shadow:none;
    transition: all 500ms ease-in-out;
}

#catrgory h2 {
    text-align: center;
    font-size: 30px;
    margin: 0 0 40px;
    padding-bottom: 18px;
    position: relative;
    text-transform: capitalize;
    font-weight: 600;
    color: #242424;
}


#catrgory h2::after {
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
    background-color: #233d7b;
}
.fot-link p { color: #fff; }
.fot-link li a:hover { color:#00bfe3;  }
.copy-right { border-top:1px solid rgba(204,204,204,.3); padding:20px 0; margin: 20px 0 0;  }
.copy-right p { margin: 0px; font-size: 13px; color: #fff;  }
.design-by { text-align: right; color: #fff; }
.design-by a { color:#00bfe3; }
.fot-input {
    background-color: rgba(255,255,255,0.1);
    border-color: rgba(255,255,255,0.3);
    color: #EEE;
    height: 50px;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
}


.social_icons { margin:0px; padding:0px; }
.social_icons li { display: inline-block; padding: 0 5px; }

.social_icons a.fb {
    background: url(../images/social_icons.png) -24px 0 no-repeat;
    width: 25px;
    height: 25px;
    display: block;
}
.social_icons a.fb:hover {
    background: url(../images/social_icons.png) -24px -25px no-repeat;
}
.social_icons a.tw {
    background: url(../images/social_icons.png) 0 0 no-repeat;
    width: 25px;
    height: 25px;
    display: block;
}
.social_icons a.tw:hover {
    background: url(../images/social_icons.png) 0 -26px no-repeat;
}
.social_icons a.v {
    background: url(../images/social_icons.png) -49px 0 no-repeat;
    width: 25px;
    height: 25px;
    display: block;
}
.social_icons a.v:hover {
    background: url(../images/social_icons.png) -49px -25px no-repeat;
}
.social_icons a.y {
    background: url(../images/social_icons.png) -74px 0 no-repeat;
    width: 25px;
    height: 25px;
    display: block;
}
.social_icons a.y:hover {
    background: url(../images/social_icons.png) -74px -25px no-repeat;
}
.social_icons a.rss {
    background: url(../images/social_icons.png) -99px 0 no-repeat;
    width: 25px;
    height: 25px;
    display: block;
}
.social_icons a.rss:hover {
    background: url(../images/social_icons.png) -99px -25px no-repeat;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 9px 15px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #29b1fd;
    text-decoration: none;
    background-color: #fff;
    border: 3px solid #edeff7;
    border-radius: 30px;
    margin-right: 10px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #fff;
    background-color:#29b1fd;
    border-color:#29b1fd;
}


#inner-pages { padding: 80px 0; }
#inner-pages h2 {
    text-align: center;
    font-size: 30px;
    margin: 0 0 40px;
    padding-bottom: 18px;
    position: relative;
    text-transform: capitalize;
    font-weight: 600;
    color: #242424;
}
#inner-pages h2::after {
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
    background-color: #233d7b;
}

.about p { font-size: 16px; line-height: 24px; border-bottom: 1px dashed #eee; padding: 10px 0;}

.about { position: relative; background: #fff; /*box-shadow: 6pt 0.4375pc 0 0 #e7ebef;*/ /*padding:30px;*/  }
.pad-0 { padding: 0px; }

.content p span { color:#23c0e9; font-weight: bold;  }
.content { padding:0 30px;  }

.content h3  {  margin:0; font-size: 30px;  font-weight: 600; color: #242424;  }

.about-img {
    border: 1px solid #f2f0f0;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-shadow: 6pt 0.4375pc 0 0 #e7ebef;
    margin-bottom: 30px;
}


.contact-blk { background-color: #FFF;
    box-shadow: 1px 0px 20px rgba(0,0,0,0.07);
    position: relative;
    overflow: hidden;
   
    border-radius: 4px;
}

.left-blk { padding:30px 15px; }
.left-blk  h4 { margin:0px 0 40px; color:#110f24; text-transform: uppercase; font-size: 24px; }
.submit-btn {
 background-color: #233d7b;
    border-color: #233d7b;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    padding: 13px 30px;
    color: #fff;
 }

 .submit-btn:hover {
    color: #fff;
}

 .right-blk {
    background: #110f24;
    min-height: 385px;
    padding: 30px;
 }
 .pad-0 { padding: 0px }

 .right-blk h4 { margin: 0px 0 40px; color: #fff; text-transform: uppercase; font-size: 24px; }

 .right-blk ul { margin: 0px; padding: 0px; }
 .right-blk li { display: block; padding:0px 0px 20px; list-style-type: none; color: #fff; font-size: 16px; }
 .right-blk a { color: #fff; font-size: 16px; }

 .fitter { background: #110f24; padding: 15px 30px; margin-bottom: 20px; }
 input.text-input.search { border-radius: 0px; }

 .more-btn a { 
    background-color: #186fc9;
    color: #ffffff !important;
    padding:12px 25px;
    font-size: 12px;
    margin-top:30px;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    border-radius: 4px;
 }


 .blog-blk { box-shadow:0px 10px 20px rgba(0,0,0,0.1); background:#fff; border-radius: 8px; }

 .blog-details h3 { text-align: center; font-size: 18px; margin:16px 0  16px;}
.blog-img {     position: relative; }
 .blog-details a {
        width: 100%;
    text-align: center;
    border-top: 1px solid #e8ecec;
    display: inline-block;
    font-size: 13px;
    padding: 17px 0;
    color: #233d7b;
}

.blog-metas a::before {
    position: absolute;
    right: -3px;
    top: 0px;
    width: 1px;
    height: 90%;
    content: "";
}

.blog-details { padding:0 10px;  }

.blog-details p {
    font-size: 13px;
    color: #888888;
    height: 76px;
    overflow: hidden;
    text-align: center;
}

.blog-metas {
    position: absolute;
   
    bottom: 0;
    background: #ffffff;
    width:80%;
    left:10%;
   
    border-radius: 6px 6px 0px 0px;
    text-align: center;
    padding: 12px 0;
    
    
    z-index: auto;
    margin-bottom: -1px;
}

.blog-metas a {
    float: none;
    display: inline-block;
    
    font-size: 13px;
    padding: 0 10px;
    position: relative;
    color: #233d7b;
}

.job-detail > ul {
    width: 100%;
    margin-bottom: 20px;
}

.job-detail > ul li {
    
    width: 100%;
    margin: 0;
    margin-bottom: 0px;
    position: relative;
    padding-left: 23px;
    line-height: 21px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #888888;
    list-style-type: none;
}

.job-detail > ul li::before {
    position: absolute;
    left: 0;
    top: 13px;
    width: 10px;
    height: 1px;
    background: #888888;
    content: "";
}



/*.contact-detail ul {

    width: 100%;
    border: 2px solid #e8ecec;
   
    border-radius: 8px;
    margin: 0;
    padding:30px !important;
}
*/
.contact-detail li {
   /* padding-left: 50px;*/
    list-style-type: none;
    display: inline-block;
    padding: 0 10px
}

.contact-detail ul > li i {
    position: absolute;
    left: 23px;
    top: 5px;
    font-size: 30px;
    color: #8b91dd;
}

.contact-detail ul > li h3 {
    width: 100%;
    font-size:16px;
    margin: 0;
}

.company-details {
    text-align: center;
}

.job-thumb img {
    display: inline-block;
    width: auto;
    border: none;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    border-radius: 50%;
    padding: 10px;
    width: 100px;
    height: 100px;
}

.comp-info{
    font-size: 13px;
    color: #888888;
    line-height: 10px;
}
.comp-info ul { margin: 0px; padding: 0px; }
.comp-info ul li { display: block; list-style-type: none; padding: 10px 0; font-size:15px;  }
.comp-info ul h3 {
    font-size:16px;
    color:#171d30;
}


.inter-info{
    font-size: 13px;
    color: #888888;
 
}
.inter-info ul { margin: 0px; padding: 0px; }
.inter-info ul li { display: block; list-style-type: none; padding: 10px 0; font-size:15px;  }
.inter-info ul h3 {
    font-size:16px;
    color:#171d30;
}


.apply-btn {
    background-color: #233d7b;
    border-color: #233d7b;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    padding: 13px 30px;
    color: #fff;
    margin: 15px 15px;
    display: inline-block;
}  


.apply-btn:hover {
color: #fff;
border: 1px solid #fff;
}


.new-btn { 
    background-color: #fff;
    border-color: #233d7b;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    padding: 13px 30px;
    color:#233d7b;
    margin: 25px 0;
    display: inline-block;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    border: 1px solid #414141;
 }  

.post-dt { margin:0px; padding:0px;  }
.post-dt li { display: inline-block; padding:0 15px 0 0; font-size: 14px; color: #888888; }
.blog-full-details h3 {  font-size: 18px; margin:0px 0  16px;}
.pad-20 { padding: 20px; }
.more-btn {
    text-align: right;
}

input[type=checkbox], input[type=radio] { margin-top: 8px; }
.checkbox-inline, .radio-inline { 
    font-size: 13px;
    color: #888888;
    line-height: 28px;
}

.max-height { min-height: 615px; }

.login-form .nav>li>a {
    padding: 0 15px;
    color: #272a3d;
}

.login-form  .dropdown-menu   { 
    border-top: 2px solid #29b1fd;
    box-shadow: 0px 0px 15px 5px rgba(30, 31, 33, 0.15);
    padding: 0px 0;
    margin: 0px 0 0;
    z-index: 9999;
    min-width: 160px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;

}

.login-form .nav>li>a:focus, .login-form .nav>li>a:hover {
    text-decoration: none;
    background-color:transparent;
}

.closed-btn {
    position: absolute;
    left:0px;
    top:2px;
   /* width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #000;
    color: #000;*/
    text-align: center;
   /* line-height: 36px;*/
    font-size: 24px;
    
}

.cont_login {
  position: relative;
  /*width: 640px;
left: 50%;
margin-left: -320px;*/
  
}

.cont_back_info {  
position: relative;
  float: left;
  width: 640px;
  height: 280px;
overflow: hidden;
  background-color: #fff;
  margin-top: 100px;
box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
}

.cont_forms {
  position: absolute;
  overflow: hidden;
  top:100px;
left: 0px;
  width: 320px;
  height: 280px;
  background-color:#f5f5f5;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.cont_form_login h4 {
    text-align: center;
    margin: 40px 0px;
    font-size: 24px;
    text-transform: uppercase;
}

.cont_form_sign_up h4 {
    text-align: center;
    margin: 40px 0px;
    font-size: 24px;
    text-transform: uppercase;
}

.cont_forms_active_login {
box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
  min-height:420px;  
top:-25px /*20px*/;
left: 0px;
  -webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;

}

.cont_forms_active_sign_up {
box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
  height: 420px;  
top:-25px /*20px*/;
left:336px /*320px*/;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.cont_img_back_grey {
  position: absolute;
  width: 950px;
top:-80px;
  left: -116px;
}

.cont_img_back_grey > img {
  width: 100%;
 -webkit-filter: grayscale(100%);     filter: grayscale(100%);
opacity: 0.2;
animation-name: animar_fondo;
  animation-duration: 20s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;

}

.cont_img_back_ {
  position: absolute;
  width: 950px;
top:-80px;
  left: -116px;
}

.cont_img_back_ > img {
  width: 100%;
opacity: 0.3;
animation-name: animar_fondo;
animation-duration: 20s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
}

.cont_forms_active_login > .cont_img_back_ {
top:0px;  
  -webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.cont_forms_active_sign_up > .cont_img_back_ {
top:0px;  
left: -435px;
  -webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}
 

.cont_info_log_sign_up {
position: absolute;
  /*width: 640px;
  height: 280px;*/
  top: 100px;
z-index: 1;
} 

.col_md_login {
  position: relative;
  
}

.col_md_login > h2 {
  font-weight: 400;
margin-top: 70px;
    color: #757575;
}

.col_md_login > p {
 font-weight: 400;
margin-top: 15px;
width: 80%;
    color: #37474F;
}

.btn_login { 
background-color: #26C6DA;
  border: none;
  padding:10px 30px;

border-radius:3px;
box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  color: #fff;
margin-top: 10px;
cursor: pointer;
margin: 0 auto;
    display: block;

}

.col_md_sign_up {
  position: relative;
    
}

.cont_ba_opcitiy > h2 {
  font-weight: 400;
  color: #fff;
}

.cont_ba_opcitiy > p {
 font-weight: 400;
margin-top: 15px;
 color: #fff;
}
/* ----------------------------------
background text    
------------------------------------
 */
.cont_ba_opcitiy {
  position: relative;
  background-color: rgba(255, 255, 255, 0.55);
  width: 80%;
  border-radius:3px ;
margin-top: 60px;
padding: 15px 0px;

}

.cont_ba_opcitiy h2 { color:#535353 !important; }

.btn_sign_up { 
background-color:#233d7b;
  border: none;
  padding: 10px 30px;
border-radius:3px;
box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  color: #fff;
margin-top: 10px;
cursor: pointer;
margin: 0 auto;
    display: block;
}
.cont_forms_active_sign_up {
z-index: 2;  
}


/*@-webkit-keyframes animar_fondo {
  from { -webkit-transform: scale(1) translate(0px);
-moz-transform: scale(1) translate(0px);
-ms-transform: scale(1) translate(0px);
-o-transform: scale(1) translate(0px);
transform: scale(1) translate(0px); }
  to { -webkit-transform: scale(1.5) translate(50px);
-moz-transform: scale(1.5) translate(50px);
-ms-transform: scale(1.5) translate(50px);
-o-transform: scale(1.5) translate(50px);
transform: scale(1.5) translate(50px); }
}
@-o-keyframes identifier {
  from { -webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); }
  to { -webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5); }

}
@-moz-keyframes identifier {
  from { -webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); }
  to { -webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5); }

}
@keyframes identifier {
  from { -webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); }
  to { -webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5); }
}*/
.cont_form_login {
  position: absolute;
  opacity: 0;
display: none;
  
  -webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.cont_forms_active_login {
z-index: 2;  
}
.cont_forms_active_login  >.cont_form_login {
}

.cont_form_sign_up {
  position: absolute;
  width: 320px;
float: left;
  opacity: 0;
display: none;
  -webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

  
.cont_form_sign_up > input {
text-align: left;
  padding: 15px 5px;
margin-left: 10px;
margin-top: 20px;
  width: 260px;
border: none;
    color: #757575;
}

.cont_form_sign_up > h2 {
margin-top: 50px; 
font-weight: 400;
  color: #757575;
}


.cont_form_login > input {
  padding: 15px 5px;
/*margin-left: 10px;
margin-top: 20px;
  width: 260px;
border: none;
text-align: left;*/
  color: #757575;
}

.cont_form_login > h2 {
margin-top: 110px; 
font-weight: 400;
  color: #757575;
}

.cont_form_login h6 {
    font-size: 14px;
    text-align: center;
    position: relative;
    top:-2px;
}

.cont_form_login h6 span {
    background:#f5f5f5;
    position: relative;
    z-index: 9;
    padding: 10px;
}

.cont_form_login h6::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#233d7b;
    content: "";
    top: 8px;
    left: 0;
    z-index: 8;
}

.invalid-feedback{
    color: red;
}

.form-error{
    color: red;
}

.slick-slider {
  width: 90%;
  height: auto;
  margin: auto;
  background: #000;
}
 
.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}
 
.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}
 
.prev-slide {
  background: url(../images/nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}

.next-slide {
  background: url(../images/nav-icon1.png) no-repeat scroll 0 0;
  right: -33px;
}
 
.prev-slide:hover {
  background-position: 0px -53px;
}
 
.next-slide:hover {
  background-position: -24px -53px;
}


.slick-slide img {
    display: initial !important;
}