 <section id="inner-pages">
   <div class="container">
    <h2>Manage Email Letters</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li  class="active"><a routerLink="/manage-letters">Manage Email Letters</a></li>
                  <li><a routerLink="/verify-email">Verify Email</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
               <div class="left-blk">
               <div class="col-sm-12" *ngIf="user">

               	<form  [formGroup]="letterForm" (ngSubmit)="onSubmit()" id="letterForm">

               		<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Letter Type<span class="required">*</span></label>	
                        		 <select class="text-input" formControlName="lettertype" required="">
                                    <option value="">Select Letter Type</option>
                                    <option *ngFor="let c of lettertypes"  value="{{c.Id}}">{{c.Title}}</option>
                                </select>
                        <div *ngIf="submitted && f.lettertype.errors" class="invalid-feedback">
                                            <div *ngIf="f.lettertype.errors.required">Letter Type is required</div>
                                        </div>

                            </div>
                        </div>

               		<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Subject<span class="required">*</span></label>	
                        		 <input type="text" class="text-input" placeholder="Subject" formControlName="subject" required="">
                        <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                                            <div *ngIf="f.subject.errors.required">Subject is required</div>
                                        </div>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>From<span class="required">*</span></label>	
                        		<select class="text-input" formControlName="from" required="">
                                    <option value="">Select From</option>
                                    <option value="{{user.Email}}" *ngIf="user.CompanyName.length > 0">{{user.CompanyName}} ({{user.Email}})</option>
                                    <option value="{{user.Email}}" *ngIf="user.CompanyName.length <= 0">{{user.Name}}  ({{user.Email}})</option>
                                    <option *ngFor="let c of contacts"  value="{{c.Email}}">{{c.FirstName}} {{c.LastName}} ({{c.Email}})</option>
                                </select>
                        <div *ngIf="submitted && f.from.errors" class="invalid-feedback">
                                            <div *ngIf="f.from.errors.required">Email Id is required</div>
                                        </div>

                            </div>
                        </div>


                         <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Letter Purpose<span class="required">*</span></label>	
                        		 <input type="text" class="text-input" placeholder="Letter Purpose" formControlName="purpose" required="">
                        <div *ngIf="submitted && f.purpose.errors" class="invalid-feedback">
                                            <div *ngIf="f.purpose.errors.required">Letter Purpose is required</div>
                                        </div>

                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                        	<div class="form-group">
                        		<label>Email Body<span class="required">*</span></label>
                        		 <angular-editor formControlName="body"></angular-editor>
                                <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
                                            <div *ngIf="f.body.errors.required">Email Body is required</div>
                                        </div>

                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                          	<div class="form-group">
                             	<p  class="form-error">{{error}}</p>
                             </div>
                         </div>

                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Save" class="btn submit-btn">
                   </div>
                </div>

               	</form>
                 
               
               	 <table class="table table-bordered" *ngIf="letters && letters.length > 0">
			        	
			        	<tbody>
			        		<tr>
			        		<td><b>Letter Type</b></td>
			        		<td><b>From Email</b></td>
			        		<td><b>Subject</b></td>
			        		<td><b>Purpose</b></td>
			        		<td></td>
			        	</tr>
			        	<tr *ngFor="let c of letters">
			        		<td>{{c.LetterType}}</td>
			        		<td>{{c.FromEmail}}</td>
			        		<td>{{c.Title}}</td>
			        		<td>{{c.Purpose}}</td>
			        		<td>
			        			<i class="fa fa-pencil" aria-hidden="true" (click)=editEmployerLetter(c.Id)></i>
			        			&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true"  (click)=deleteEmployerLetter(c.Id)></i>
			        		</td>
			        	</tr>
			        </tbody>
			        </table>
			        

               	
       
               </div>                         
              </div>
              </div>

             
             
            </div>

           
                 
			    
          </div>
        </div>

      </div>
   
   
 </div>
 </section>
