<section id="inner-pages">
   <div class="container">
    <h2>All Jobs</h2>
    <!-- <form class="fitter"> -->
    <form  [formGroup]="filterForm" (ngSubmit)="onSubmit()" id="filterForm">
      <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                 <kendo-multiselect
                    class = "text-input"
                    id="profiles"
                    formControlName="profiles"
                    placeholder="Select Profile"
                    [data]="profiles"
                    [textField]="'Title'"
                    [valueField]="'Id'"
                    [valuePrimitive]="true"
                >
                </kendo-multiselect>
                <!-- <select class="text-input" id="profiles" formControlName="profiles" required="" multiple="">
                                    <option value="">Select Profiles</option>
                                    <option *ngFor="let c of profiles"  value="{{c.Id}}">{{c.Title}}</option>
                                </select> -->
          </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <kendo-multiselect
                    class = "text-input"
                    id="countries"
                    formControlName="countries"
                    placeholder="Select Countries"
                    [data]="countries"
                    [textField]="'name'"
                    [valueField]="'id'"
                    [valuePrimitive]="true"
                >
                  </kendo-multiselect>
                 <!-- <select class="text-input" formControlName="countries" required="" id="countries" multiple>
                                      <option value="">Select countries</option>
                                    <option *ngFor="let c of countries"  value="{{c.id}}">{{c.name}}</option>
                                </select> -->
          </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                 <input type="text" placeholder="Skills" formControlName="skill"class="text-input">
          </div>
            </div>
             <div class="col-md-4 col-sm-4">
              <div class="form-group">
                 <select class="text-input" formControlName="experience" required="">
                  <option value="">Experience</option>
                                  <option value="Fresher">Fresher</option>
                                    <option *ngFor="let y of years"  value="{{y}}">{{y}}</option>
                                    <option value="More Than 20">More Than 20</option>
                                </select> 
                
          </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <select class="text-input" formControlName="ctc">
                  <option value="">CTC</option>
                  <option value="0-5">0-5</option>
                  <option value="5-10">5-10</option>
                  <option value="10-15">10-15</option>
                  <option value="15-20">15-20</option>
                  <option value="20-25">20-25</option>
                  <option value="25-30">25-30</option>
                  <option value="30-35">30-35</option>
                  <option value="35-40">35-40</option>
                  <option value="40-45">40-45</option>
                  <option value="45-50">45-50</option>
                  <!-- <option value="11">More than 50</option> -->
                </select>
          </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <input type="submit" value="Search" class="btn submit-btn">&nbsp;&nbsp;&nbsp;
                <input type="button" (click)="Reset()" value="Reset" class="btn submit-btn">
              </div>
            </div>
            

          </div>
          
 
  </form>
<!--   </form> -->
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="col-md-offset-1" *ngIf="jobs && jobs.length ==0">
                  <h3>No Jobs Data Found</h3>
                </div>
          <div class="job-descrip"  *ngFor="let job of jobs  | paginate: {  id: 'joblist',itemsPerPage: 10, currentPage: p }">
                 <div class="row">
                   <div class="col-md-2 col-sm-2">
                     <div class="client-logo"><img src="{{job.image}}" class="img-responsive" alt="logo"></div>
                   </div>
                   <div class="col-md-7 col-sm-7">
                     <p class="profile-text">{{job.Title}}</p>
                
                    <p> <a routerLink="/jobsbyemployer/{{job.EmployerId}}">{{job.CompanyName}}</a></p>
                    <ul class="durtion">
                      <li><a href="#">Job Type:{{job.JobType}}</a></li>
                      <li><a href="#"> Location:</a> <span>{{job.location}}</span></li>
                      <li *ngIf="job.MinExperience == Fresher && job.MaxExperience == Fresher"><a href="#">Experience:Fresher</a></li>
                      <li *ngIf="job.MinExperience !== Fresher || job.MaxExperience !== Fresher"><a href="#">Experience:{{job.MinExperience}}-{{job.MaxExperience}}</a> <span> Years</span></li>
                    </ul>

                   </div>
                   <div class="col-md-3 col-sm-3">
                      <div class="post_dt"> <a  routerLink="/jobsbydate/{{job.CreatedAt | date : 'yyyy-MM-dd'}}">{{job.CreatedAt | date : 'EEEE, MMM dd yyyy hh:mm a'}}</a></div>
                       <div class="more-btn"><a routerLink="/job-detail/{{job.Id}}">View More</a></div>
                   </div>
                 </div>
                  </div>

                  <pagination-controls (pageChange)="p = $event" id="joblist"></pagination-controls>
 
                
        <!--           <ul class="pagination">
    <li><a href="#">«</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">»</a></li>
</ul> -->

        </div>
         <div class="col-md-4 col-sm-4"></div>
      </div>
      
   
 </div>
 </section>
