<section id="inner-pages">
   <div class="container">
    <h2>Login</h2>
    
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="cotn_principal">
<div class="cont_centrar">

  <div class="col-md-7 col-md-offset-3 cont_login">
<div class="col-md-12 col-sm-12 cont_info_log_sign_up">
      <div class="col-md-6 col-sm-6 pad-0 col_md_login">
<div class="cont_ba_opcitiy">
        
        <h2>Jobseeker</h2>  
  <p></p> 
  <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
  </div>
  </div>
<div class="col-md-6 col-sm-6 pad-0 col_md_sign_up">
<div class="cont_ba_opcitiy">
  <h2>Employer</h2>

  
  <p></p>

  <button class="btn_sign_up" onclick="cambiar_sign_up()">LOGIN</button>
</div>
  </div>
       </div>

    
    <div class="cont_back_info">
       <div class="cont_img_back_grey">
       <img src="https://www.gtagangwars.de/suite/images/styleLogo-6bd77433ddf78bd8477ea7306e804f677bc925d0.png" alt="" />
       </div>
       
    </div>
<div class="cont_forms" >
    <div class="cont_img_back_">
       <img src="https://www.gtagangwars.de/suite/images/styleLogo-6bd77433ddf78bd8477ea7306e804f677bc925d0.png" alt="" />
       </div>
 <div class="cont_form_login">
<a  onclick="ocultar_login_sign_up()" class="closed-btn">&#x2717;</a>
   <h4>Jobseeker Login</h4>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="loginForm">
     <div class="col-md-12 col-sm-12">
       <div class="form-group">
         <input type="email" class="text-input" placeholder="email" formControlName="email" required="">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Invalid email</div>
          </div>
       </div>
     </div>
      <div class="col-md-12 col-sm-12">
       <div class="form-group">
         <input type="password" placeholder="Password" formControlName="password" required="" class="text-input">
           <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
             <div *ngIf="f.password.errors.required">Password is required</div>
           </div>
       </div>
     </div>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <div class="form-group">
                       <p id="error"  class="form-error">{{error}}</p>
                     </div>
                   </div>
       <div class="col-md-12 col-sm-12">
       <div class="text-center">
        <small class=""><a routerLink="/forgot-password">Did you forgot your password?</a></small>
       </div>
     </div>
      <div class="col-md-12 col-sm-12">
       <div class="form-group">
        <button class="btn_login">LOGIN</button>
       </div>
     </div>
   </form>
    <p class="text-center" id="thanks" hidden="">
                                Logged In Successfully!
                            </p>
    <div class="col-md-12 col-sm-12">
      <h6><span>Login WITH</span></h6>
       <div class="form-group text-center">
         <ul class="social_icons">
                  <li><a (click)="signInWithFB()" class="fb"></a></li>
                  <li><a (click)="signInWithGoogle()" class="tw"></a></li>
                  <li><a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=81yolm96884wcx&redirect_uri=https://ejob.mytasks.co.in/login-with-linkedin&state=987654321&scope=r_emailaddress,r_liteprofile" class="v"></a></li>
                  
                </ul>
       </div>
    </div> 
   

  </div>
  
   <div class="cont_form_sign_up">
<a  onclick="ocultar_login_sign_up()" class="closed-btn">&#x2717;</a>
     <h4>Employer Login</h4>
     <form [formGroup]="loginForm1" (ngSubmit)="onSubmit1()" id="loginForm1">
     <div class="col-md-12 col-sm-12">
       <div class="form-group">
         <input type="email" class="text-input" placeholder="email" formControlName="email" required="">
          <div *ngIf="submitted1 && f1.email.errors" class="invalid-feedback">
            <div *ngIf="f1.email.errors.required">Email is required</div>
            <div *ngIf="f1.email.errors.email">Invalid email</div>
          </div>
       </div>
      </div>
      <div class="col-md-12 col-sm-12">
       <div class="form-group">
        <input type="password" placeholder="Password" formControlName="password" required="" class="text-input">
           <div *ngIf="submitted1 && f1.password.errors" class="invalid-feedback">
             <div *ngIf="f1.password.errors.required">Password is required</div>
           </div> 
       </div>
      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <div class="form-group">
                       <p id="error"  class="form-error">{{error1}}</p>
                     </div>
                   </div>
      <div class="col-md-12 col-sm-12">
       <div class="text-center">
        <small class=""><a routerLink="/forgot-password">Did you forgot your password?</a></small>
       </div>
     </div>
      <div class="col-md-12 col-sm-12">
       <div class="form-group">
      <button class="btn_sign_up">LOGIN</button>
       </div>
      </div>
    </form>
     <p class="text-center" id="thanks1" hidden="">
                                Logged In Successfully!
                            </p>






  </div>

    </div>
    
  </div>
 </div>
</div>
          
        </div>
      </div>
   
 </div>
 </section>

