 <section id="inner-pages">
   <div class="container">
    <h2>Education</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
               <ul class="nav nav-tabs">
                  <li><a routerLink="/dashboard">Profile</a></li>
                  <li><a routerLink="/profile">Edit Profile</a></li>
                  <li><a routerLink="/work-experience">Work Experience</a></li>
                  <li class="active"><a routerLink="/education">Education</a></li>
                  <li><a routerLink="/preferrences">Preferences</a></li>
                  <li><a routerLink="/languages">Languages</a></li>
                  <li><a routerLink="/other-details">Other Details</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
               
               <form  [formGroup]="educationForm" (ngSubmit)="onSubmit1()" id="educationForm">

               	 <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Qualification<span class="required">*</span></label> 
                           <select class="text-input" formControlName="qualificationid" required="" (change)="qualificationChanged($event)">
                                    <option value="">Select Qualification</option>
                                    <option *ngFor="let c of qualifications"  value="{{c.Id}}">{{c.Title}}</option>
                                </select>
                                <div *ngIf="submitted1 && f1.qualificationid.errors" class="invalid-feedback">
                                            <div *ngIf="f1.qualificationid.errors.required">Qualification is required</div>
                                        </div>
                            </div>
                        </div>

                          <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Specialization<span class="required">*</span></label> 
                           <select class="text-input" formControlName="specializationid" required="" (change)="specializationChanged($event)">
                                    <option value="">Select Specialization</option>
                                    <option *ngFor="let c of specializations"  value="{{c.Id}}">{{c.Title}}</option>
                                </select>
                                <div *ngIf="submitted1 && f1.specializationid.errors" class="invalid-feedback">
                                            <div *ngIf="f1.specializationid.errors.required">Specialization is required</div>
                                        </div>
                            </div>
                        </div>

                    	<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>University Name<span class="required">*</span></label>	
                        		 <input type="text" class="text-input" placeholder="University Name" formControlName="university" required="">
                        <div *ngIf="submitted1 && f1.university.errors" class="invalid-feedback">
                                            <div *ngIf="f1.university.errors.required">University Name is required</div>
                                             <div *ngIf="f1.university.errors.pattern">Only alphabets are allowed</div>
                                        </div>

                            </div>
                        </div>
 


               	<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Institute Name<span class="required">*</span></label>	
                        		 <input type="text" class="text-input" placeholder="Institute Name" formControlName="institute" required="">
                        <div *ngIf="submitted1 && f1.institute.errors" class="invalid-feedback">
                                            <div *ngIf="f1.institute.errors.required">Institute Name is required</div>
                                             <div *ngIf="f1.institute.errors.pattern">Only alphabets are allowed</div>
                                        </div>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Course Type<span class="required">*</span></label>	
                        		<select class="text-input" formControlName="coursetype" required="">
                                   <option value="">Select one</option>
                                    <option value="Full Time">Full Time</option>
                                    <option value="Part Time">Part Time</option>
                                     <option value="Correspondance">Correspondance</option>
                                </select>
                                <div *ngIf="submitted1 && f1.coursetype.errors" class="invalid-feedback">
                                            <div *ngIf="f1.coursetype.errors.required">Course Type is required</div>
                                              
                                        </div>
                            </div>
                              

                            </div>



                        <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Year Of Passing<span class="required">*</span></label>	
                        		 <select formControlName="yearofpassing" class="text-input" required="">
                                    <option value="">Select Year</option>
                                    <option *ngFor="let m of years"  value="{{m}}">{{m}}</option>
                                    
                                </select>
                                <div *ngIf="submitted1 && f1.yearofpassing.errors" class="invalid-feedback">
                                            <div *ngIf="f1.yearofpassing.errors.required">Year Of Passing</div>
                                              
                                        </div>
                       

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Marks In Percentage<span class="required">*</span></label> 
                             <input type="text" class="text-input" placeholder="Marks" formControlName="marks" required="">
                             <div *ngIf="submitted1 && f1.marks.errors" class="invalid-feedback">
                                           <div *ngIf="f1.marks.errors.required">Marks are required</div>
                                            <div *ngIf="f1.marks.errors.pattern">Enter valid percentage</div>
                                        </div>
                                        <!--     <div *ngIf="f1.marks.errors.pattern">Marks should be in digits only</div> -->
                                        </div>
                             

                            </div>

                            <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Grade<span class="required"></span></label>	
                        		<select class="text-input" formControlName="grade">
                                   <option value="">Select one</option>
                                    <option value="O">O</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                </select>

                            </div>
                              

                            </div>
                      




                        

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <p  class="form-error">{{error1}}</p>
                             </div>
                         </div>

                           

                        <!-- <button class="next-btn hvr-sweep-to-right login" type="submit">SIGN UP</button> -->
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Save" class="btn submit-btn">
                   </div>
                </div>
                        

                       



               	  
              
                        

                      
                      
                    </form>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  *ngIf="alleducation && alleducation.length > 0">
                  <table class="table table-bordered">
			        	
			        	<tbody>
			        		<tr>
			        		<td><b>Qualification</b></td>
			        		<td><b>Course Type</b></td>
			        		<td><b>University</b></td>
			        		<td><b>Institute</b></td>
			        		<td><b>Year Of Passing</b></td>
			        		<td><b>Marks (%)</b></td>
			        		<td><b>Grade</b></td>
			        		<td></td>
			        	</tr>
			        	<tr *ngFor="let e of alleducation">
			        		<td>{{e.Qualification}} ({{e.Specialization}})</td>
			        		<td>{{e.CourseType}}</td>
			        		<td>{{e.University}}</td>
			        		<td>{{e.Institute}}</td>
			        		<td>{{e.YearOfPassing}}</td>
			        		<td>{{e.Marks}}</td>
			        		<td>{{e.Grade}}</td>
			        		<td>
			        			<i class="fa fa-pencil" aria-hidden="true" (click)=editEducation(e.Id)></i>
			        			&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true"  (click)=deleteEducation(e.Id)></i>
			        		</td>
			        	</tr>
			        </tbody>
			        </table>
			        
			    </div>

			       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <a routerLink="/preferrences" value="Done" class="btn submit-btn">Next</a>
                   </div>
                </div>




                  
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>