 <section id="inner-pages">
   <div class="container">
    <h2>Jobseeker Registration</h2>
    
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h4>Become a Member of eJobOcean and find the right job. Register now, Free!</h4>
          <div class="contact-blk">
            <div class="row"> 
              <div class="col-md-7 col-sm-7 pad-0">
                <div class="left-blk">
               
                 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" id="registerForm">
                  <div class="xrow">
                    <div class="col-md-12 col-sm-12">
                     <h4>Jobseeker Registration</h4>
                   </div>
                    <div class="col-md-12 col-sm-12">
                      <div class="form-group">
                       <input type="text" class="text-input" placeholder="Name" formControlName="name" required="">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Name is required</div>
                                             <div *ngIf="f.name.errors.pattern">Only alphabets are allowed</div>
                                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                         <input type="email" class="text-input" placeholder="email" formControlName="email" required="">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Invalid email</div>
                                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <input type="text" class="text-input" placeholder="Mobile Number" formControlName="mobile" required="">
                         <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                            <div *ngIf="f.mobile.errors.required">Mobile number is required</div>
                                               <div *ngIf="f.mobile.errors.pattern">Mobile number should be 10 digit number</div>
                                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <input type="password" class="text-input" placeholder="Password" formControlName="password" required="" minlength="6">
                         <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                            <div *ngIf="f.password.errors.minlength">Password length should be greater than 6</div>
                                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                         <input type="password" class="text-input" placeholder="Confirm Password" formControlName="cpassword" required="">
                        <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.cpassword.errors.required">Confirm Password is required</div>
                                        </div>

                      </div>
                    </div>
                    
                     <div class="col-md-12 col-sm-12">
                       <h5>Mailer and Privacy Settings</h5>
                      </div>
                    <div class="col-md-6 col-sm-6" *ngFor="let s of settings">
                        <div class="form-group">
                          <label class="checkbox-inline">
                            <input type="checkbox" id="check_{{s.Id}}" name="checkboxes" value="{{s.Id}}">{{ s.Title}}
                          </label>
                        </div>
                    </div>
                    
                   
                     <hr>

                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <div class="form-group">
                        <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1" name="accept"> I have read and understood and agree to the 
                        <a href="/terms-condition" target="_blank"><strong>Terms and Conditions</strong></a> governing the use of eJobOcean.com
                      </label>
                    </div>
                     </div>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <div class="form-group">
                       <p id="error"  class="form-error">{{error}}</p>
                     </div>
                   </div>
                    

                     
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Join eJobOcean" class="btn submit-btn">
                   </div>
                </div>
                  </div>
                </form> 
                   <p class="text-center" id="thanks" hidden="">
                                Registered Successfully!
                            </p>
              </div>
              </div>
              <div class="col-md-5 col-sm-5 pad-0">
                <div class="right-blk">
                  <h4>Dashboard</h4>
                  <ul>
                    <li>Become a member</li>
                    <li>Get access to jobs not posted publicly anywhere</li>
                    <li>Follow Recruiters who can hire you</li>
                    <hr>
                     <li>In case you are using a public/shared computer we recommend that you logout to prevent any un-authorized access to your account.</li>


                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   
 </div>
 </section>