<section id="inner-pages">
   <div class="container">
    <h2>{{employer.CompanyName}} Jobs</h2>
    
      <div class="row">
        <div class="col-md-12 col-sm-12">
        	<h4 *ngIf="jobs && jobs.length ==0">No jobs found</h4>
          <div class="job-descrip"  *ngFor="let job of jobs | paginate: {  id: 'joblist',itemsPerPage: 10, currentPage: p }">
                 <div class="row">
                   <div class="col-md-2 col-sm-2">
                     <div class="client-logo"><img src="{{job.image}}" class="img-responsive" alt="logo"></div>
                   </div>
                   <div class="col-md-7 col-sm-7">
                     <p class="profile-text">{{job.Title}}</p>
                
                    <p> <a routerLink="/jobsbyemployer/{{job.EmployerId}}">{{job.CompanyName}}</a></p>
                    <ul class="durtion">
                      <li><a href="#">Job Type:{{job.JobType}}</a></li>
                      <li><a href="#"> Location:</a> <span>{{job.location}}</span></li>
                      <li *ngIf="job.MinExperience == Fresher && job.MaxExperience == Fresher"><a href="#">Experience:Fresher</a></li>
                      <li *ngIf="job.MinExperience !== Fresher || job.MaxExperience !== Fresher"><a href="#">Experience:{{job.MinExperience}}-{{job.MaxExperience}}</a> <span> Years</span></li>
                    </ul>

                   </div>
                   <div class="col-md-3 col-sm-3">
                      <div class="post_dt"> <a routerLink="/jobsbydate/{{job.CreatedAt | date : 'yyyy-MM-dd'}}">{{job.CreatedAt | date : 'EEEE, MMM dd yyyy hh:mm a'}}</a></div>
                       <div class="more-btn"><a routerLink="/job-detail/{{job.Id}}">View More</a></div>
                   </div>
                 </div>
                  </div>

                   <pagination-controls (pageChange)="p = $event" id="joblist"></pagination-controls>
 
                  
                 <!--  <ul class="pagination">
    <li><a href="#">«</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">»</a></li>
</ul> -->

        </div>
         <div class="col-md-4 col-sm-4"></div>
      </div>
      
   
 </div>
 </section>
