<section id="inner-pages">
   <div class="container">
    <h2>Blog</h2>
    
      <div class="row">
        <div class="col-md-12 col-sm-12">
           <div class="blog-blk pad-20">
            <div class="row">
          <div class="col-md-4 col-sm-4">
             <div class="about-img">
              <img src="{{blog.imagepath}}" class="img-responsive" alt="blog">
              
            </div>
          </div>
          <div class="col-md-8 col-sm-8">
             <div class="blog-full-details">
              <div class="row">
              <div class="col-md-6 col-sm-6">
                 <ul class="post-dt">
                <li>{{blog.CreatedAt | date : 'MMMM dd, yyyy'}}</li>
                <li>By {{blog.Author}}</li>
              </ul>
              </div>
              <div class="col-md-6 col-sm-6">
                 <!-- <ul class="social_icons text-right">
                  <li>Share:</li>
                  <li> <a href="https://www.facebook.com/ejoboceancom-186266221713632/" target="_blank" class="fb"></a></li>
                  <li><a href="https://plus.google.com/117345507462889789707/about" target="_blank" class="tw"></a></li>
                  <li><a href="http://in.linkedin.com/in/ejobocean" target="_blank" class="v"></a></li>
                  <li><a href="https://twitter.com/ejobocean" target="_blank" class="y"></a></li>
                  <li> <a href="http://ejobocean.com/EJOB_RSS.ashx" target="_blank" class="rss"> </a></li>
                </ul> -->
              </div>
             </div>
             
              <h3>{{blog.Title}}</h3>
              <p>{{blog.Description}}</p>
                
            </div>
          </div>

          </div>
         
         </div>
         </div>
      </div>
      
   
 </div>
 </section>