 <section id="inner-pages">
   <div class="container">
    <h2>Resume Search</h2>

   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li  class="active"><a routerLink="/resume-search">Search Resumes</a></li>
                  <li><a routerLink="/saved-resumes">Saved Resumes</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
               <div class="left-blk">
               <div class="col-sm-12" *ngIf="resumes">

                <div class="row">
                   <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <input type="button" (click)="action('mail')" value="Send Email" class="btn submit-btn">&nbsp;&nbsp;&nbsp;
                    <input type="button" (click)="action('save')" value="Save To Folder" class="btn submit-btn">
                    <p class="form-error">{{error}}</p>
                      <p>{{message}}</p>
                  </div>
                </div>
                </div>

                <form  [formGroup]="filterForm" (ngSubmit)="onSubmit()" id="filterForm">
      <div class="row">

        <div class="col-md-2 col-sm-2">
              <div class="form-group">
                 <input type="text" placeholder="Name" formControlName="name" class="text-input">
          </div>
            </div>


            <div class="col-md-2 col-sm-2">
              <div class="form-group">
                 <input type="text" placeholder="Keywords" formControlName="keyword" class="text-input">
          </div>
            </div>

            <div class="col-md-2 col-sm-2">
              <div class="form-group">
                 <select class="text-input" formControlName="experience" required="">
                                  <option value="">Select Experience</option>
                                    <option *ngFor="let y of exp"  value="{{y}}">{{y}}</option>
                                </select> 
                
              </div>
            </div>

            <div class="col-md-2 col-sm-2">
              <div class="form-group">
                 <select class="text-input" formControlName="agefrom" required="">
                  
                                  <option value="">Select Age From</option>
                                    <option *ngFor="let y of years"  value="{{y}}">{{y}}</option>
                                </select> 
                
              </div>
            </div>

            <div class="col-md-2 col-sm-2">
              <div class="form-group">
                 <select class="text-input" formControlName="ageto" required="">
                
                                  <option value="">Select Age to</option>
                                    <option *ngFor="let y of years"  value="{{y}}">{{y}}</option>
                                </select> 
                
              </div>
            </div>


            <div class="col-md-2 col-sm-2">
              <div class="form-group">
                <select class="text-input" formControlName="gender">
                  <option value="">Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Both">Both</option>
                </select>
          </div>
            </div>


            <div class="col-md-3 col-sm-3">
              <div class="form-group">
                <kendo-multiselect
                    class = "text-input"
                    id="countries"
                    formControlName="countries"
                    placeholder="Select Countries"
                    [data]="countries"
                    [textField]="'name'"
                    [valueField]="'id'"
                    [valuePrimitive]="true"
                >
                  </kendo-multiselect>
                
          </div>
            </div>


            <div class="col-md-3 col-sm-3">
              <div class="form-group">
                 <kendo-multiselect
                    class = "text-input"
                    id="industries"
                    formControlName="industries"
                    placeholder="Select Industries"
                    [data]="industries"
                    [textField]="'Title'"
                    [valueField]="'Id'"
                    [valuePrimitive]="true"
                >
                </kendo-multiselect>
                
          </div>
            </div>
            


            <div class="col-md-3 col-sm-3">
              <div class="form-group">
                 <kendo-multiselect
                    class = "text-input"
                    id="profiles"
                    formControlName="profiles"
                    placeholder="Select Profiles"
                    [data]="profiles"
                    [textField]="'Title'"
                    [valueField]="'Id'"
                    [valuePrimitive]="true"
                >
                </kendo-multiselect>
                
          </div>
            </div>

             <div class="col-md-3 col-sm-3">
              <div class="form-group">
                 <kendo-multiselect
                    class = "text-input"
                    id="designations"
                    formControlName="designations"
                    placeholder="Select Roles"
                    [data]="designations"
                    [textField]="'Title'"
                    [valueField]="'Id'"
                    [valuePrimitive]="true"
                >
                </kendo-multiselect>
                
          </div>
            </div>
            
            
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <input type="submit" value="Search" class="btn submit-btn">&nbsp;&nbsp;&nbsp;
                <input type="button" (click)="Reset()" value="Reset" class="btn submit-btn">
              </div>
            </div>
            

          </div>
          
 
  </form>
<!--   </form> -->
                 <p><input type="checkbox" name="selectall" id="selectall" (click)="selectall()">&nbsp;&nbsp;<label for="selectall">Select All Resumes</label></p>
               	 <table class="table table-bordered">
			        	
			        	<tbody>
			        	<tr *ngFor="let c of resumes | paginate: {  id: 'joblist',itemsPerPage: 10, currentPage: p }">
                  <td><input type="checkbox" id="checkboxes_{{c.Id}}" name="checkboxes" class="checkboxes" value="{{c.Id}}"></td>
			        		<td><p>Prefered Locations : {{c.locations}}</p>
                  </td>
			        		<td>
			        			<p>{{c.Name}}</p>
                    <p><b>Exp :</b> {{c.ExpYears}} years {{c.ExpMonths}} months</p>
                    <p>{{c.Country}}</p>

			        		</td>
			        		<td><p><b>Industry :</b> {{c.Industry}}</p>
                     <p><b>Profile :</b> {{c.Profile}}</p>
                     <p><b>Role :</b> {{c.Designation}}</p>
                     <p><b>Description :</b> {{c.Description}}</p>
                     <p><b>Age :</b> {{c.age}}</p>
                  </td>
			        		<td>
			        			  <p><b>Email :</b> {{c.Email}}</p>
                      <p><b>Mobile No :</b> {{c.Mobile}}</p>
                      <p><a href="/jobseeker-profile/{{c.Id}}" target="_blank">View Info</a></p>
			        		</td>
			        	</tr>

                
			        </tbody>
			        </table>
                <pagination-controls (pageChange)="p = $event" id="joblist"></pagination-controls>

               	 
       
               </div>                         
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>
