<section id="welcome">
    <div class="container">
      <div class="find-catgory">
      <!-- <form class="fitter"> -->
    <form  [formGroup]="filterForm" (ngSubmit)="onSubmit()" id="filterForm">
      <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                 <kendo-multiselect
                    class = "text-input"
                    id="profiles"
                    formControlName="profiles"
                    placeholder="Select Profile"
                    [data]="profiles"
                    [textField]="'Title'"
                    [valueField]="'Id'"
                    [valuePrimitive]="true"
                >
                </kendo-multiselect>
               <!--  <select class="text-input" id="profiles" formControlName="profiles" required="" multiple="">
                                    <option value="">Select Profiles</option>
                                    <option *ngFor="let c of profiles"  value="{{c.Id}}">{{c.Title}}</option>
                                </select> -->
          </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <kendo-multiselect
                    class = "text-input"
                    id="countries"
                    formControlName="countries"
                    placeholder="Select Countries"
                    [data]="countries"
                    [textField]="'name'"
                    [valueField]="'id'"
                    [valuePrimitive]="true"
                >
                  </kendo-multiselect>
                <!--  <select class="text-input" formControlName="countries" required="" id="countries" multiple>
                                      <option value="">Select countries</option>
                                    <option *ngFor="let c of countries"  value="{{c.id}}">{{c.name}}</option>
                                </select> -->
          </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                 <input type="text" placeholder="Skills" formControlName="skill"class="text-input">
          </div>
            </div>
             <div class="col-md-4 col-sm-4">
              <div class="form-group">
                 <select class="text-input" formControlName="experience" required="">
                  <option value="">Experience</option>
                                  <option value="Fresher">Fresher</option>
                                    <option *ngFor="let y of years"  value="{{y}}">{{y}}</option>
                                    <option value="More Than 20">More Than 20</option>
                                </select> 
                
          </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <select class="text-input" formControlName="ctc">
                  <option value="">CTC</option>
                  <option value="0-5">0-5</option>
                  <option value="5-10">5-10</option>
                  <option value="10-15">10-15</option>
                  <option value="15-20">15-20</option>
                  <option value="20-25">20-25</option>
                  <option value="25-30">25-30</option>
                  <option value="30-35">30-35</option>
                  <option value="35-40">35-40</option>
                  <option value="40-45">40-45</option>
                  <option value="45-50">45-50</option>
                  <!-- <option value="11">More than 50</option> -->
                </select>
          </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <input type="submit" value="Search" class="btn submit-btn">
              </div>
            </div>
            

          </div>
          
 
  </form>
<!--   </form> -->
      </div>
    </div>
 </section>


 <section id="catrgory">
  <div class="container">
    <h2>Jobs By Profile</h2>
    <div class="row">
      <a routerLink="/jobsbyprofile/{{p.Id}}" *ngFor="let p of jobprofiles"><div class="col-md-3 col-sm-3">
        <div class="cat-blk">

          <h3>{{p.Title}} Jobs</h3>
          <span>({{p.jobopenings}} Openings)</span>
        </div>
      </div>
    </a>

    </div>
    </div>

 </section>


 <section id="punch-line">
   <div class="container">
    <div class="sort-text">
    <h2>Your Dream Jobs Are Waiting</h2>
     <p>Grab dream JOBs Electronically, using Ejobocean, which has an OCEAN of opportunities for you! </p>
   </div>
     <div class="apply-section">
              <a routerLink="/jobs" class="btn btn-search"> Search Jobs </a>
        <a routerLink="/jobs" class="btn apply-btn"> Apply Job Now </a>
       </div>
   </div>
 </section>




<section id="middle">
   <div class="container"> <!-- style="overflow:hidden" -->
    <h3>Featured Jobs</h3>
    <nav id="mainNav" class="hidden navbar navbar-default navbar-fixed-top navbar-custom affix-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>                
                <!-- <img class="navbar-brand" src="#"/> -->
                <a class="navbar-brand" href="#page-top">Connect Your Care</a>
            </div>
    
            <!-- Menu options -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Job for Professionals</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Government Jobs</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-xs-12 visible-xs">
            <!-- Account selection for mobile - I -->
            <div class="dropdown">
              <button id="actionsDrop" class="btn btn-default dropdown-toggle col-xs-12" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select Option
                <span class="caret"></span>
                <i class="down-arrow pull-right"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="actionsDrop">
                <li class="selected"><a href="#">Job for Professionals</a></li>
                <li><a href="#">Government Jobs</a></li>
                
              </ul>
            </div>
            <!-- Account selection for mobile - F -->
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
      <div class="col-md-12" style="overflow:auto">
            <div id="MyAccountsTab" class="tabbable tabs-left">
            <!-- Account selection for desktop - I -->
          <ul  class="nav nav-tabs col-md-3 hidden-xs">
            <li class="active">
                <div data-target="#lA" data-toggle="tab">
                    <div class="ellipsis">
                        <span class="account-type">Job for Professionals</span><br/>
                          
                      </div>
                  </div>
            </li>
            <li>
                <div data-target="#lB" data-toggle="tab">
                    <div >
                        <span class="account-type">Government Jobs</span><br/>
                         
                      </div>
                  </div>
            </li>
           
          </ul>
          <div class="tab-content col-md-9">
            <div class="tab-pane active" id="lA"><!--style="padding-left: 60px; padding-right:100px"-->
               <div class="col-md-offset-1" *ngIf="jobs && jobs.length ==0">
                  <h3>No Jobs Data Found</h3>
                </div>
                <div class="col-md-offset-0">
                  <div class="job-descrip"  *ngFor="let job of jobs| paginate: {  id: 'joblist',itemsPerPage: 10, currentPage: p }">
                 <div class="row">
                   <div class="col-md-2 col-sm-2">
                     <div class="client-logo"><img src="{{job.image}}" class="img-responsive" alt="logo"></div>
                   </div>
                   <div class="col-md-7 col-sm-7">
                     <p class="profile-text">{{job.Title}}</p>
                
                    <p> <a routerLink="/jobsbyemployer/{{job.EmployerId}}">{{job.CompanyName}}</a></p>
                    <ul class="durtion">
                      <li><a href="#">Job Type:{{job.JobType}}</a></li>
                      <li><a href="#"> Location:</a> <span>{{job.location}}</span></li>
                      <li *ngIf="job.MinExperience == Fresher && job.MaxExperience == Fresher"><a href="#">Experience:Fresher</a></li>
                      <li *ngIf="job.MinExperience !== Fresher || job.MaxExperience !== Fresher"><a href="#">Experience:{{job.MinExperience}}-{{job.MaxExperience}}</a> <span> Years</span></li>
                    </ul>

                   </div>
                   <div class="col-md-3 col-sm-3">
                      <div class="post_dt"> <a  routerLink="/jobsbydate/{{job.CreatedAt | date : 'yyyy-MM-dd'}}">{{job.CreatedAt | date : 'EEEE, MMM dd yyyy hh:mm a'}}</a></div>
                       <div class="more-btn"><a routerLink="/job-detail/{{job.Id}}">View More</a></div>
                   </div>
                 </div>
                  </div>
                  
                 
              </div>
              
                  <pagination-controls (pageChange)="p = $event" id="joblist"></pagination-controls>
              <!-- <ul class="pagination">
    <li><a href="#">«</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">»</a></li>
</ul> -->
            </div>
            <div class="tab-pane" id="lB">
                <div class="col-md-offset-1" *ngIf="governmentjobs && governmentjobs.length ==0">
                  <h3>No Jobs Data Found</h3>
                </div>
                 <div class="col-md-offset-0">
                  <div class="job-descrip"  *ngFor="let job of governmentjobs| paginate: {  id: 'joblist1',itemsPerPage: 10, currentPage: p1 }">
                 <div class="row">
                   <!-- <div class="col-md-2 col-sm-2">
                     <div class="client-logo"><img src="{{job.image}}" class="img-responsive" alt="logo"></div>
                   </div> -->
                   <div class="col-md-9 col-sm-9">
                     <p class="profile-text">{{job.Title}}</p>
                
                    <p> <a href="#">{{job.Organization}}</a></p>
                    <p>{{job.Description}}..</p>
                    <ul class="durtion">
                      <li><a href="#">Posted Date:{{job.PostedDate | date : 'dd-MM-yy'}}</a></li>
                      <li><a href="#"> Last Date:</a> <span>{{job.LastDate | date : 'dd-MM-yy'}}</span></li>
                      
                    </ul>

                   </div>
                   <div class="col-md-3 col-sm-3">
                      <div class="post_dt"><a  routerLink="/jobsbydate/{{job.CreatedAt | date : 'yyyy-MM-dd'}}">{{job.CreatedAt | date : 'EEEE, MMM dd yyyy hh:mm a'}}</a></div>
                       <div class="more-btn"><a href="{{job.Url}}">View More</a></div>
                   </div>
                 </div>
                  </div>

                  <pagination-controls (pageChange)="p1 = $event" id="joblist1"></pagination-controls>
                  
                 
              </div>
            </div>
            
            
          </div>
          <!-- Account selection for desktop - F -->
        </div>
        </div>
  </div>
</div>
 </section>

 <section id="works">
   <div class="container">
     <h3>Expert Speakers</h3>
    
      <div class="row" *ngIf="interviewers">
       <!--  <p>&nbsp;</p>
        <div class="col-md-4 col-sm-4" *ngFor="let i of interviewers| paginate: {  id: 'joblist2',itemsPerPage: 3, currentPage: p2 }">
          <div class="work-blk">
          <img src="{{i.imagepath}}">
          <p>{{i.ShortDescription}}</p>
          <p><a routerLink="/interviewer/{{i.Id}}">Read More</a></p>
        </div>
        </div>
        <p>&nbsp;</p>
        <div class="col-md-12 col-sm-12">
         <p> <pagination-controls (pageChange)="p2 = $event" id="joblist2"></pagination-controls></p>
        </div> -->
         <p>&nbsp;</p>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)">
        <div ngxSlickItem *ngFor="let i of interviewers" class="slide">
            <div class="work-blk">
                      <img src="{{i.imagepath}}">
                      <p>{{i.ShortDescription}}</p>
                      <p><a routerLink="/interviewer/{{i.Id}}">Read More</a></p>
                    </div>
            </div>
        </ngx-slick-carousel>
         
        <!-- <button (click)="addSlide()">Add</button>
        <button (click)="removeSlide()">Remove</button>
        <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
        <button (click)="slickModal.unslick()">unslick</button> -->
      </div>


   </div>
 </section>

 <section id="punch-line">
   <div class="container">
    <div class="sort-text">
    <h2>Your Dream Jobs Are Waiting</h2>
     <p>We give you 30 days free post job access, so you can take some time to find the best plan for you.<br> Start your free trial today, no credit card is required. </p>
   </div>
     <div class="apply-section">
              <a routerLink="/jobs" class="btn btn-search"> Search Jobs </a>
        <a routerLink="/jobs" class="btn apply-btn"> Apply Job Now </a>
       </div>
   </div>
 </section>

 <section id="question">
    <div class="container"> 
          <h3>How It All Works</h3>

            
     <p>A complete recruitment solution for all Finance Professionals is now just a CLICK away..</p>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="work-blk">
          <h4></h4>
          <p>We provide you with an end to end solution related to recruitment problem.</p>
        </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="work-blk">
          <h4></h4>
          <p>We provide Top Talents to the Employers & the Best Opportunities to the Job seekers!</p>
        </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="work-blk">
          <h4></h4>
          <p>Our aim is to take away the time consuming process from the desk of the Hiring managers and churn it into a time saving professional executed service, at the lowest price.</p>
        </div>
        </div>
      </div>
    </div>
</section>


    


    