 <section id="inner-pages">
   <div class="container">
    <h2>Contact Us</h2>
    
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="contact-blk">
            <div class="row"> 
              <div class="col-md-7 col-sm-7 pad-0">
                <div class="left-blk">
               
               <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" id="contactForm">
                  <div class="xrow">
                    <div class="col-md-12 col-sm-12">
                     <h4>Send Message</h4>
                   </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                         <input type="text" placeholder="Name" class="text-input" formControlName="name" required="">
                         <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                           <div *ngIf="f.name.errors.required">Name is required</div>
                           <div *ngIf="f.name.errors.pattern">Only alphabets are allowed</div>
                         </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <input type="text" placeholder="Phone" class="text-input" formControlName="phone" required="">
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone is required</div>
                            <div *ngIf="f.phone.errors.pattern">Mobile number should be in numbers</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                         <input type="email" placeholder="Email" class="text-input" formControlName="email" required="">
                         <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Invalid email</div>
                         </div>
                      </div>
                    </div>
                     <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                          <input type="text" class="text-input" placeholder="Subject" formControlName="subject" required="">
                          <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                              <div *ngIf="f.subject.errors.required">Subject is required</div>
                          </div>
                      </div>
                    </div>

                     <div class="col-md-12 col-sm-12">
                      <div class="form-group">
                        <textarea rows="4" placeholder="Messages" class="textarea" formControlName="message" required=""></textarea>
                                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                                            <div *ngIf="f.message.errors.required">Message is required</div>
                                        </div>
                        
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Send Message" class="btn submit-btn"><span class="ajax-loader"></span>
                   </div>
                </div>
                  </div>
                </form>
                <p class="text-center" id="thanks" hidden="">
                                Thanks for contacting us!
                            </p>
              </div>
              </div>
              <div class="col-md-5 col-sm-5 pad-0">
                <div class="right-blk">
                  <h4>Contact Information</h4>
                  <ul *ngIf="content">
                    <li>{{content.Address}}</li>
                    <li><a href="mailto:{{content.Email}}">{{content.Email}}</a></li>
                    <li>{{content.Contact}}</li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   
 </div>
 </section>

 <iframe width="100%" height="350" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1883.9307123946262!2d72.8650267!3d19.201254!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b73d0653a9f7%3A0xd08627ad1ed1386a!2seJob+Ocean+Online+Services+LLP!5e0!3m2!1sen!2sin!4v1477308646226" frameborder="0" style="border: 0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
