<section id="inner-pages">
   <div class="container">
    <h2>Message Details</h2>
   
      <div class="row">
      	<div class="col-sm-12" *ngIf="email">
      		<p>From : {{email.FromEmail}}</p>
      		<p>To : {{email.ToEmail}}</p>
      		<p>Subject : {{email.Subject}}</p>
      		<p>Message : </p>
      		<div [innerHTML]="email.Message"></div>
      	</div>
        
        
      </div>
      <div class="row">
      	<br>
      	<a *ngIf="getUserType() === 'jobseeker'" routerLink="/inbox" class="btn">Back</a>
      	<a *ngIf="getUserType() === 'employer'" routerLink="/outbox" class="btn">Back</a>
      </div>
      
   
 </div>
 </section>

