<section id="inner-pages">
   <div class="container">
    <h2>Government Jobs</h2>
   
      <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="job-descrip"  *ngFor="let job of governmentjobs | paginate: {  id: 'joblist',itemsPerPage: 10, currentPage: p }">
                 <div class="row">
                   <!-- <div class="col-md-2 col-sm-2">
                     <div class="client-logo"><img src="{{job.image}}" class="img-responsive" alt="logo"></div>
                   </div> -->
                   <div class="col-md-9 col-sm-9">
                     <p class="profile-text">{{job.Title}}</p>
                
                    <p> <a href="#">{{job.Organization}}</a></p>
                    <p>{{job.Description}}..</p>
                    <ul class="durtion">
                      <li><a href="#">Posted Date:{{job.PostedDate | date : 'dd-MM-yy'}}</a></li>
                      <li><a href="#"> Last Date:</a> <span>{{job.LastDate | date : 'dd-MM-yy'}}</span></li>
                      
                    </ul>

                   </div>
                   <div class="col-md-3 col-sm-3">
                      <div class="post_dt"><a  routerLink="/jobsbydate/{{job.CreatedAt | date : 'yyyy-MM-dd'}}">{{job.CreatedAt | date : 'EEEE, MMM dd yyyy hh:mm a'}}</a></div>
                       <div class="more-btn"><a href="{{job.Url}}">View More</a></div>
                   </div>
                 </div>
                  </div>

                     <pagination-controls (pageChange)="p = $event" id="joblist"></pagination-controls>
 
                  
                 
                <!--   <ul class="pagination">
    <li><a href="#">«</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">»</a></li>
</ul> -->

        </div>
        
      </div>
      
   
 </div>
 </section>