<section id="inner-pages">
   <div class="container">
    <h2>About us</h2>
    
     <div class="row box-shadow">
      <div class="about">
        <div class="col-md-4 col-sm-4 pad-0">
         <div class="about-img"><img src="/assets/images/about-img.jpg" class="img-responsive" alt="about "></div>
       </div>
       <div class="col-md-8 col-sm-8 pad-0">
        <div class="content">
         <h3>Why the name “E Job Ocean”?</h3>
         <p>Grab dream <span>JOB</span>s <span>E</span>lectronically, using Ejobocean, which has an <span>OCEAN</span> of opportunities for you! We show you light to reach your perfect destination by crossing all dreadful waves... So get all set to hold our hands & <span>RIDE THE WAVE!!</span></p>
         <p>“E Job Ocean” is pleased to introduce itself as a job portal in association with one of the leading website, “Taxguru.in”. Taxguru. in is a very popular website among the finance professionals.</p>
       </div>
       </div>
       
     </div>

   </div>
   <div class="xcat-blk">
   <h2>VISION</h2>
<p>Finance form the Life and Blood of all business. Nowadays you need a sharper network to get edge over cutthroat competition. We therefore provide you with an end to end solution related to recruitment problem.</p>

<p>We are guiding you to the road where Capabilities meets Requirements.</p>

<p>We aim at the benefit maximization of all parties by using a competitive process to recommend a right candidate who meets the best needs of the position. We want our participants to be excited about working together.</p>

<p>We provide Top Talents to the Employers & the Best Opportunities to the Job seekers!</p>

<p>India is slowly developing into a universal platform for new developments in financial services. It is becoming a developed economic market in this developing world. “Ejobocean” identifies day to day opportunities in the market, wraps it into a gift box and delivers it to you.</p>

<p>Our aim is to take away the time consuming process from the desk of the Hiring managers and churn it into a time saving professional executed service, at the lowest price.</p>
</div>
 </div>
 </section>

 <section id="punch-line">
   <div class="container">
    <div class="sort-text">
    <h2>Your Dream Jobs Are Waiting</h2>
     <p>Grab dream JOBs Electronically, using Ejobocean, which has an OCEAN of opportunities for you! </p>
   </div>
     <div class="apply-section">
              <a href="# " class="btn btn-search"> Search Jobs </a>
        <a href="# " class="btn apply-btn"> Apply Job Now </a>
       </div>
   </div>
 </section>

 <section id="works">
   <div class="container">
     <h3>How It All Works</h3>
     <p>A complete recruitment solution for all Finance Professionals is now just a CLICK away..</p>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="work-blk">
          <h4></h4>
          <p>We provide you with an end to end solution related to recruitment problem.</p>
        </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="work-blk">
          <h4></h4>
          <p>We provide Top Talents to the Employers & the Best Opportunities to the Job seekers!</p>
        </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="work-blk">
          <h4></h4>
          <p>Our aim is to take away the time consuming process from the desk of the Hiring managers and churn it into a time saving professional executed service, at the lowest price.</p>
        </div>
        </div>
      </div>
   </div>
 </section>
