<section id="inner-pages"  *ngIf="interviewer">
   <div class="container">
    <h2>{{interviewer.Interviewer}}</h2>

   
      <div class="row">
        <div class="col-md-8 col-sm-8">
        	<p>{{interviewer.ShortDescription}}</p>
        	<div [innerHTML]="interviewer.Description"></div>

        </div>
        <div class="col-md-4 col-sm-4">
          <div class="company-details">
            <div>
              <img src="{{interviewer.imagepath}}" alt="logo">
            </div>
            <div class="inter-info">
              <h4>{{interviewer.Profile}}</h4>
              <p>{{interviewer.Address}}</p>
                  <ul>
                  <li><h3>Current Profile</h3><span>  {{interviewer.CurrentProfile}}</span></li>
                  <li><h3>Previous Profile</h3><span>  {{interviewer.PreviousProfile}}</span></li>
                  <li><h3>Education</h3><span>  {{interviewer.Education}}</span></li>
                  <li><h3>Email</h3><span>  {{interviewer.Email}}</span></li>
                  <li><h3>Blog</h3><span>  {{interviewer.Blog}}</span></li>
                  <li><h3>Company</h3><span>  {{interviewer.Company}}</span></li>
                  <li><h3>Facebook</h3><span>  {{interviewer.Facebook}}</span></li>
                  
                 
                </ul>

            </div>
          </div>

        </div>
      </div>
      
   
 </div>
 </section>

