 <section id="inner-pages">
   <div class="container">
    <h2>Post Job</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li class="active"><a routerLink="/post-job">Post Job</a></li>
                  <li><a routerLink="/saved-employers-jobs">Saved Jobs</a></li>
                  <li><a routerLink="/posted-jobs">Posted Jobs</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
               
               
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>