 <section id="inner-pages">
   <div class="container">
    <h2>Privacy Settings</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li  class="active"><a routerLink="/privacy-settings">Privacy Settings</a></li>
                  <li><a routerLink="/block-companies">Blocked Companies</a></li>
                  <li><a routerLink="/verify-email">Verify Email</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
               <div class="left-blk">
               <div class="col-sm-12" *ngIf="settings">

               	 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" id="registerForm">
                  <div class="xrow">
                    

                     <div class="col-md-12 col-sm-12">
                       <h5>Mailer and Privacy Settings</h5>
                      </div>
                    <div class="col-md-6 col-sm-6"  *ngFor="let s of settings">
                        <div class="form-group">
                          <label class="checkbox-inline">
                            <input type="checkbox" id="check_{{s.Id}}" name="checkboxes" value="{{s.Id}}" *ngIf="s.checked == 'Checked'" checked>
                            <input type="checkbox" id="check_{{s.Id}}" name="checkboxes" value="{{s.Id}}" *ngIf="s.checked !== 'Checked'">{{ s.Title}}
                          </label>
                        </div>
                    </div>

                   

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <div class="form-group">
                       <p id="error">{{error}}</p>
                     </div>
                   </div>
                    

                     
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Save" class="btn submit-btn">
                   </div>
                </div>
                  </div>
                </form> 
       
               </div>                         
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>
