 <section id="inner-pages">
   <div class="container">
    <h2>Contact Persons</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li><a routerLink="/employers-dashboard">Profile</a></li>
                  <li><a routerLink="/employer-profile">Edit Profile</a></li>
                  <li class="active"><a routerLink="/contact-persons">Contact Persons</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
               
               <form  [formGroup]="contactpersonForm" (ngSubmit)="onSubmit1()" id="contactpersonForm">

               	  
              
                        
               			<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>First Name<span class="required">*</span></label>	
                        		 <input type="text" class="text-input" placeholder="First Name" formControlName="firstname" required="">
                        <div *ngIf="submitted1 && f1.firstname.errors" class="invalid-feedback">
                                            <div *ngIf="f1.firstname.errors.required">First Name is required</div>
                                        </div>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Last Name<span class="required">*</span></label>	
                        		 <input type="text" class="text-input" placeholder="Last Name" formControlName="lastname" required="">
                        <div *ngIf="submitted1 && f1.lastname.errors" class="invalid-feedback">
                                            <div *ngIf="f1.lastname.errors.required">Last Name is required</div>
                                        </div>

                            </div>
                        </div>


                        

                        <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        	<label>Email<span class="required">*</span></label>	
                            <input type="email" placeholder="email" formControlName="email" required=""  class="text-input">
                           <div *ngIf="submitted1 && f1.email.errors" class="invalid-feedback">
                                            <div *ngIf="f1.email.errors.required">Email is required</div>
                                            <div *ngIf="f1.email.errors.email">Invalid email</div>
                                        </div>
                            </div>
                        </div>


                        
                        <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Mobile Number<span class="required">*</span></label>	
                        		<input type="text" placeholder="Mobile Number" formControlName="mobile" required="" class="text-input">
                                <div *ngIf="submitted1 && f1.mobile.errors" class="invalid-feedback">
                                            <div *ngIf="f1.mobile.errors.required">Mobile number is required</div>
                                               <div *ngIf="f1.mobile.errors.pattern">Mobile number should be 10 digit number</div>
                                        </div>
                            </div>
                        </div>


                         <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Contact<span class="required"></span></label>	
                        		<input type="text" placeholder="Contact" formControlName="contact" class="text-input">
                                <div *ngIf="submitted1 && f1.contact.errors" class="invalid-feedback">
                                            
                                        </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                        	<div class="form-group"> 
                        	<label>Designation<span class="required">*</span></label>		
                           <select class="text-input" formControlName="designationid" required="" (change)="designationChanged($event)">
                                    <option value="">Select Designation</option>
                                    <option *ngFor="let c of designations"  value="{{c.Id}}">{{c.Title}}</option>
                                </select>
                                <div *ngIf="submitted1 && f1.designationid.errors" class="invalid-feedback">
                                            <div *ngIf="f1.designationid.errors.required">Designation is required</div>
                                        </div>
                            </div>
                        </div>




                      
                      

                        <div class="col-md-12 col-sm-12">
                          	<div class="form-group">
                             	<p  class="form-error">{{error1}}</p>
                             </div>
                         </div>

                           

                        <!-- <button class="next-btn hvr-sweep-to-right login" type="submit">SIGN UP</button> -->
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Save" class="btn submit-btn">
                   </div>
                </div>
                    </form>

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="contacts && contacts.length > 0">
                  <table class="table table-bordered">
			        	
			        	<tbody>
			        		<tr>
			        		<td><b>Name</b></td>
			        		<td><b>Email</b></td>
			        		<td><b>Mobile No</b></td>
			        		<td><b>Designation</b></td>
			        		<td></td>
			        	</tr>
			        	<tr *ngFor="let c of contacts">
			        		<td>{{c.FirstName}} {{c.LastName}}</td>
			        		<td>{{c.Email}}</td>
			        		<td>{{c.Mobile}}</td>
			        		<td>{{c.Designation}}</td>
			        		<td>
			        			<i class="fa fa-pencil" aria-hidden="true" (click)=editContact(c.Id)></i>
			        			&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true"  (click)=deleteContact(c.Id)></i>
			        		</td>
			        	</tr>
			        </tbody>
			        </table>
			        
			    </div>

			    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <a routerLink="/employers-dashboard" value="Done" class="btn submit-btn">Done</a>
                   </div>
                </div>


                  
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>