 <section id="inner-pages">
   <div class="container">
    <h2>Edit Profile</h2>
    
      <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li><a routerLink="/dashboard">Profile</a></li>
                  <li><a routerLink="/profile">Edit Profile</a></li>
                  <li><a routerLink="/work-experience">Work Experience</a></li>
                  <li><a routerLink="/education">Education</a></li>
                  <li><a routerLink="/preferrences">Preferences</a></li>
                  <li><a routerLink="/languages">Languages</a></li>
                  <li  class="active"><a routerLink="/other-details">Other Details</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
               
             <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()" id="profileForm">

                
                       
                  

                        <div class="col-md-12 col-sm-12">
                          <div class="form-group"> 
                              <label>Expected Salary (Per Annum)<span class="required">*</span></label>                            
                           <input type="text" placeholder="Total CTC (Per Annum)" formControlName="expectedsalary" required="" class="text-input">
                            <div *ngIf="submitted && f.expectedsalary.errors" class="invalid-feedback">
                            	      <div *ngIf="f.expectedsalary.errors.required">Expected Salary is required</div>
                                     
                                <div *ngIf="f.expectedsalary.errors.pattern">Enter Numeric values only</div>
                            </div>
                            </div>
                        </div>

                         <div class="col-md-6 col-sm-6">
                          <div class="form-group"> 
                              <label>Passport<span class="required"></span></label>                            
                            <select class="text-input" formControlName="passport">
                            <option value="">Select one</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>

                         <div class="col-md-6 col-sm-6">
                          <div class="form-group"> 
                              <label>Driving License<span class="required"></span></label>                            
                            <select class="text-input" formControlName="license">
                            <option value="">Select one</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>

                        
                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                                <label>Cast Category<span class="required">*</span></label> 
                           <select class="text-input" formControlName="categoryid" required="" (change)="categoryChanged($event)">
                                    <option value="">Select Category</option>
                                    <option *ngFor="let c of categories"  value="{{c.Id}}">{{c.Title}}</option>
                                </select>
                                <div *ngIf="submitted && f.categoryid.errors" class="invalid-feedback">
                                            <div *ngIf="f.categoryid.errors.required">Category is required</div>
                                        </div>
                            </div>
                        </div>

                                      

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group"> 
                              <label>Physically Challenged<span class="required"></span></label>                            
                            <select class="text-input" formControlName="physicallychallenged">
                            <option value="">Select one</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>






                        
                     

                         <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                  <label>Description<span class="required"></span></label> 
                               <textarea rows="5" placeholder="Description" formControlName="description"  class="textarea"></textarea>
                             </div>
                         </div>



                        
                                                               

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                              <p  class="form-error">{{error}}</p>
                             </div>
                         </div>

                           <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                               <p class="text-center" id="tdanks" hidden="">
                                  Profile updated
                            </p>
                             </div>
                         </div>

                        <!-- <button class="next-btn hvr-sweep-to-right login" type="submit">SIGN UP</button> -->
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Submit" class="btn submit-btn">
                   </div>
                </div>
                    </form>
                      
                   <p class="text-center" id="thanks" hidden="">
                                  Profile updated
                            </p>
              </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
   
 </div>
 </section>