 <section id="inner-pages">
   <div class="container">
    <h2>Jobseeker Profile</h2>
    
      <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
            
             <div class="row" *ngIf="user"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
                  <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                            <label for="file">Profile Picture</label>
                            <div>
                              <img  src="{{user.image}}">
                            </div>

                            </div>
                        </div>

                    <div class="col-md-12 col-sm-12">
                      <div class="form-group">
                        <label>Name : </label> {{user.Name}}
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>Email : </label> {{user.Email}}
                          </div>                          
                    </div>
                        
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Mobile Number : </label> {{user.Mobile}}
                        </div> 
                    </div>

                    <div class="col-md-12 col-sm-12">
                      <div class="form-group">
                        <label>Correspondance Address : </label> {{user.CorrespondenceAddress}}
                        </div> 
                    </div>


                    <div class="col-md-12 col-sm-12">
                      <div class="form-group">
                        <label>Permanent Address : </label> {{user.Address}}
                        </div> 
                    </div>


                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>City : </label> {{user.City}}
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>State : </label> {{user.State}}
                        </div> 
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Country : </label> {{user.Country}}
                        </div> 
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Pin Code : </label> {{user.PinCode}}
                        </div> 
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Industry : </label> {{user.Industry}}
                        </div> 
                    </div>

                   <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Job Profile : </label> {{user.Profile}}
                        </div>            
                    </div>


                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Designation : </label> {{user.Designation}}
                        </div> 
                    </div>

          <div class="col-md-6 col-sm-6">
            <div class="form-group">
                        <label>Contact No : </label> {{user.LandlineNumber}}
                        </div> 
                    </div>
                   

                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Work Experience : </label> {{user.ExpYears}} years {{user.ExpMonths}} months
                        </div> 
                     </div>

                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Skills : </label> {{user.Skills}}
                        </div> 
                    </div>


                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Current CTC : </label> {{user.CurrentSalary}} 
                        </div>
                    </div>

                     <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Expected CTC : </label> {{user.ExpectedSalary}} 
                        </div>
                    </div>

                     <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Gender : </label> {{user.Gender}} 
                        </div>
                    </div>

                     <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Marital Status : </label> {{user.MaritalStatus}} 
                        </div>
                    </div>

                     <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Date Of Birth : </label> {{user.DOB}} 
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Current Location : </label> {{user.CurrentLocation}} 
                        </div>
                    </div>

                     <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Cast Category : </label> {{user.CastCategory}} 
                        </div>
                    </div>

                     <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Passport : </label> {{user.Passport}} 
                        </div>
                    </div>

                     <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Driving License : </label> {{user.DrivingLicense}} 
                        </div>
                    </div>

                      <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Physically Challenged : </label> {{user.PhysicallyChallenged}} 
                        </div>
                    </div>

                      <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Linked In Profile Link : </label> {{user.LinkedInProfile}} 
                        </div>
                    </div>

                      <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>Resume : </label> <a  href="{{user.ResumePath}}" download>View Resume</a>
           
                        </div>
                    </div>

                      <div class="col-md-12 col-sm-12">
                      <div class="form-group">
                        <label>Description : </label> {{user.Description}} 
                        </div>
                    </div>
                </div>               
               </div>
            </div>

               <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
               
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  *ngIf="experiences && experiences.length > 0">
                  <label>Work Experience</label>
                  <table class="table table-bordered">
                
                <tbody>
                  <tr>
                  <td><b>Company Name</b></td>
                  <td><b>Employer Type</b></td>
                  <td><b>Period</b></td>
                  <td><b>Designation</b></td>
                  <td><b>Profile</b></td>
                  <td><b>Notice Period</b></td>
                </tr>
                <tr *ngFor="let e of experiences">
                  <td>{{e.CompanyName}}</td>
                  <td>{{e.EmployerType}}</td>
                  <td>{{e.FromYear}} - {{e.ToYear}}</td>
                  <td>{{e.Designation}}</td>
                  <td>{{e.Profile}}</td>
                  <td>{{e.NoticePeriod}}</td>
                </tr>
              </tbody>
              </table>
              
          </div>



                  
              </div>
              </div>
             
            </div>

            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
               
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  *ngIf="alleducation && alleducation.length > 0">
                        <label>Education</label>
                  <table class="table table-bordered">
                
                <tbody>
                  <tr>
                  <td><b>Qualification</b></td>
                  <td><b>Course Type</b></td>
                  <td><b>University</b></td>
                  <td><b>Institute</b></td>
                  <td><b>Year Of Passing</b></td>
                  <td><b>Marks (%)</b></td>
                  <td><b>Grade</b></td>
                </tr>
                <tr *ngFor="let e of alleducation">
                  <td>{{e.Qualification}} ({{e.Specialization}})</td>
                  <td>{{e.CourseType}}</td>
                  <td>{{e.University}}</td>
                  <td>{{e.Institute}}</td>
                  <td>{{e.YearOfPassing}}</td>
                  <td>{{e.Marks}}</td>
                  <td>{{e.Grade}}</td>
                </tr>
              </tbody>
              </table>
              
          </div>

          <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  *ngIf="preferrences && preferrences.length > 0">
                    <label>Preferred Job Locations</label>
                  <table class="table table-bordered">
                
                <tbody>
                  <tr>
                  <td><b>Country</b></td>
                  <td><b>State</b></td>
                  <td><b>City</b></td>
                 
                </tr>
                <tr *ngFor="let e of preferrences">
                  <td>{{e.Country}}</td>
                  <td>{{e.State}}</td>
                  <td>{{e.City}}</td>


                </tr>
              </tbody>
              </table>
              
          </div>
             



                  
              </div>
              </div>
             
            </div>

            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">


                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  *ngIf="languages && languages.length > 0">
                        <label>Known Languages</label>
                  <table class="table table-bordered">
                
                <tbody>
                  <tr>
                  <td><b>Language</b></td>
                  <td><b>Level</b></td>
                  <td><b>Read</b></td>
                  <td><b>Write</b></td>
                  <td><b>Speak</b></td>
                
                </tr>
                <tr *ngFor="let e of languages">
                  <td>{{e.Language}}</td>
                  <td>{{e.Level}}</td>
                  <td>{{e.IsRead}}</td>
                  <td>{{e.IsWrite}}</td>
                  <td>{{e.IsSpeak}}</td>

                  
                </tr>
              </tbody>
              </table>
              
          </div>
               
             



                  
              </div>
              </div>
             
            </div>
             



                  
              </div>
              </div>
             
            </div>


          </div>
        </div>
      </div>


  
   
 
 </div>
 </section>