<section id="inner-pages">
   <div class="container">
    <h2>Blog</h2>
    
      <div class="row">
        <div class="col-md-4 col-sm-4" *ngFor="let blog of blogs | paginate: {  id: 'bloglist',itemsPerPage: 6, currentPage: p }">
          <div class="blog-blk">
            <div class="blog-img">
              <img src="{{blog.imagepath}}" class="img-responsive" alt="blog">
               <div class="blog-metas">
                        <a routerLink="/blog/{{blog.Id}}" title="">{{blog.CreatedAt | date : 'EEEE, MMM dd yyyy'}}</a> 
                       <!--  <a href="#" title="">0 Comments</a> -->
                      </div>
            </div>

            <div class="blog-details">
              <h3>{{blog.Title}}</h3>
              <p>{{blog.Description}}</p>
              <a routerLink="/blog/{{blog.Id}}" title="">Read More <i class="la la-long-arrow-right"></i></a>
            </div>
          </div>
          <hr>
         </div>
          <pagination-controls (pageChange)="p = $event" id="bloglist"></pagination-controls>
 
      </div>
      
   
 </div>
 </section>