 <section id="inner-pages">
   <div class="container">
    <h2>Job Applications</h2>


   <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
          	<div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li><a routerLink="/post-job">Post Job</a></li>
                  <li><a routerLink="/saved-employers-jobs">Saved Jobs</a></li>
                  <li><a routerLink="/posted-jobs">Posted Jobs</a></li>
                  <li  class="active"><a routerLink="/job-applications">Job Applications</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
               <div class="left-blk">
               <div class="col-sm-12">
               	   
               	  <table class="table table-bordered">
			        	
			        	<tbody>
			        		<tr>
			        		<td><b>Applicant Name</b></td>
			        		<td><b>Job Title</b></td>
			        		<td><b>Email</b></td>
			        		<td><b>Mobile No</b></td>
			        		<td><b>Application Date</b></td>
			        		<td><b>Resume</b></td>
			        		<td></td>
			        	</tr>
			        	<tr *ngFor="let c of jobs | paginate: {  id: 'joblist',itemsPerPage: 10, currentPage: p }">
			        		<td>{{c.Name}}</td>
			        		<td><a routerLink="/view-job/{{c.JobId}}">{{c.Title}}</a></td>
			        		<td>{{c.Email}}</td>
			        		<td>{{c.Mobile}}</td>
			        		<td>{{c.CreatedAt | date : 'MMMM, dd yyyy'}}</td>
			        		<td><a *ngIf="resume !== ''" href="{{c.ResumePath}}" target="_blank">View Resume</a></td>
			        	</tr>                
			        </tbody>
			        </table>
                <pagination-controls (pageChange)="p = $event" id="joblist"></pagination-controls>

               </div>                         
              </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
   
   
 </div>
 </section>