 <section id="inner-pages">
   <div class="container">
    <h2>Edit Profile</h2>
    
      <div class="row">
        <div class="col-md-12 col-sm-12">
          
          <div class="contact-blk">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                  <li><a routerLink="/employers-dashboard">Profile</a></li>
                  <li  class="active"><a routerLink="/employer-profile">Edit Profile</a></li>
                  <li><a routerLink="/contact-persons">Contact Persons</a></li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-12 col-sm-12 pad-0">
                <div class="left-blk">
               
               <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()" id="profileForm">

               	  <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label for="file">Company Logo</label>
                        		<div>
                        			<img src="{{logo}}">
                        		</div>
                        		
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
           
                       

                            </div>
                        </div>

               	<div class="col-md-12 col-sm-12">
                        	<div class="form-group">
                            <label>Company Name<span class="required">*</span></label> 
                        		 <input type="text" class="text-input" placeholder="Company Name" formControlName="companyname" required="">
                              
                        <div *ngIf="submitted && f.companyname.errors" class="invalid-feedback">
                                            <div *ngIf="f.companyname.errors.required">Company Name  is required</div>
                                             <div *ngIf="f.companyname.errors.pattern">Only alphabets are allowed</div>
                                        </div>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <label>Company Website<span class="required"></span></label> 
                        	<div class="form-group">
                        		 <input type="text" class="text-input" placeholder="Company Website" formControlName="companywebsite">
                       

                            </div>
                        </div>
                        
               			<div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                            <label>Employer Name<span class="required">*</span></label> 
                        		 <input type="text" class="text-input" placeholder="Employer Name" formControlName="name" required="">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Name is required</div>
                                            <div *ngIf="f.name.errors.pattern">Only alphabets are allowed</div>
                                        </div>

                            </div>
                        </div>

                         <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Company Type<span class="required">*</span></label> 
                           <select class="text-input" formControlName="companytype" required="">
                                    <option value="">Select Company Type</option>
                                    <option value="Company">Company</option>
                                    <option value="Consultancy">Consultancy</option>
                                   
                                </select>
                                <div *ngIf="submitted && f.companytype.errors" class="invalid-feedback">
                                            <div *ngIf="f.companytype.errors.required">Company Type is required</div>
                                        </div>
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Email<span class="required">*</span></label> 
                            <input type="email" placeholder="email" formControlName="email" required="" readonly="" class="text-input">
                           <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Invalid email</div>
                                        </div>
                            </div>
                        </div>


                          <div class="col-md-12 col-sm-12">
                          	<div class="form-group">
                              <label>Address<span class="required">*</span></label> 
                             	 <textarea rows="5" placeholder="Eg:- House/Flat No, Apartment Name" formControlName="address" required="" class="textarea"></textarea>
                          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                            <div *ngIf="f.address.errors.required">Address is required</div>
                                        </div>
                             </div>
                         </div>


                         <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Industry<span class="required">*</span></label> 
                           <select class="text-input" formControlName="industryid" required="" (change)="industryChanged($event)">
                                    <option value="">Select Industry</option>
                                    <option *ngFor="let c of industries"  value="{{c.Id}}">{{c.Title}}</option>
                                </select>
                                <div *ngIf="submitted && f.industryid.errors" class="invalid-feedback">
                                            <div *ngIf="f.industryid.errors.required">Industry is required</div>
                                        </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>Country<span class="required">*</span></label> 
                           <select class="text-input" formControlName="countryid" required="" (change)="countryChanged($event)">
                                    <option value="">Select Country</option>
                                    <option *ngFor="let c of countries"  value="{{c.id}}">{{c.name}}</option>
                                </select>
                                <div *ngIf="submitted && f.countryid.errors" class="invalid-feedback">
                                            <div *ngIf="f.countryid.errors.required">Country is required</div>
                                        </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>State<span class="required">*</span></label> 
                           <select class="text-input" formControlName="stateid" required="" (change)="stateChanged($event)">
                                    <option value="">Select State</option>
                                    <option *ngFor="let c of states"  value="{{c.id}}">{{c.name}}</option>
                                </select>
                                <div *ngIf="submitted && f.stateid.errors" class="invalid-feedback">
                                            <div *ngIf="f.stateid.errors.required">State is required</div>
                                        </div>
                            </div>
                        </div>

                          <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                        		<label>City<span class="required">*</span></label> 
                           <select class="text-input" formControlName="cityid" required="" (change)="cityChanged($event)">
                                    <option value="">Select City</option>
                                    <option *ngFor="let c of cities"  value="{{c.id}}">{{c.name}}</option>
                                </select>
                                <div *ngIf="submitted && f.cityid.errors" class="invalid-feedback">
                                            <div *ngIf="f.cityid.errors.required">City is required</div>
                                        </div>
                            </div>
                        </div>

                         <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                            <label>Contact<span class="required"></span></label> 
                        		<input type="text" placeholder="Contact" formControlName="contact" class="text-input">
                                <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                                            
                                        </div>
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                            <label>Mobile Number<span class="required">*</span></label> 
                        		<input type="text" placeholder="Mobile Number" formControlName="mobile" required="" readonly="" class="text-input">
                                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                            <div *ngIf="f.mobile.errors.required">Mobile number is required</div>
                                               <div *ngIf="f.mobile.errors.pattern">Mobile number should be 10 digit number</div>
                                        </div>
                            </div>
                        </div>

                          <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                            <label>Fax No<span class="required"></span></label> 
                        		<input type="text" placeholder="Fax No" formControlName="fax" class="text-input">
                                <div *ngIf="submitted && f.fax.errors" class="invalid-feedback">
                                            
                                        </div>
                            </div>
                        </div>

                   

                         <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                            <label>Employee Count<span class="required"></span></label> 
                        		<input type="text" placeholder="Employee Count" formControlName="empcount" class="text-input">
                                <div *ngIf="submitted && f.empcount.errors" class="invalid-feedback">
                                	<div *ngIf="f.empcount.errors.pattern">Employee count must be number</div>
                                            
                                        </div>
                            </div>
                        </div>

                           <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                            <label>Pan Number<span class="required">*</span></label> 
                        		<input type="text" placeholder="Pan No" formControlName="panno" class="text-input" required="">
                                <div *ngIf="submitted && f.panno.errors" class="invalid-feedback">
                                	<div *ngIf="f.panno.errors.pattern">Pan no should be of lengtd 10</div>
                                	<div *ngIf="f.panno.errors.required">Pan no is required</div>
                                            
                                        </div>
                            </div>
                        </div>


                           <div class="col-md-6 col-sm-6">
                        	<div class="form-group">
                            <label>TIN Number<span class="required"></span></label> 
                        		<input type="text" placeholder="Tin No" formControlName="tinno" class="text-input">
                                <div *ngIf="submitted && f.tinno.errors" class="invalid-feedback">
                                	<div *ngIf="f.tinno.errors.pattern">Tin no should be of lengtd 10</div>
                                            
                                        </div>
                            </div>
                        </div>





						

                      
                      

                        <div class="col-md-12 col-sm-12">
                          	<div class="form-group">
                             	<p  class="form-error">{{error}}</p>
                             </div>
                         </div>

                           <div class="col-md-12 col-sm-12">
                          	<div class="form-group">
                             	 <p class="text-center" id="thanks" hidden="">
                                  Profile updated
                            </p>
                             </div>
                         </div>

                        <!-- <button class="next-btn hvr-sweep-to-right login" type="submit">SIGN UP</button> -->
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <input type="submit" value="Submit" class="btn submit-btn">
                   </div>
                </div>
                    </form>
                  
              </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>


  
   
   
 </div>
 </section>